.icon-1 {
    margin-right: 10px;
}

#whole-container {
    width: 62%;
    overflow: auto;
    margin: 0 auto;
    padding: 2% 0%;
    background-color: #f9f9f9;
    color: #000000;
}





#order-items-title {
    color: #000000;
    font-size: 210%;
    padding: 0;
    margin: 0;
    margin-top: 5%;
    padding-left: 2%;
}
#items-in-cart-alpha-container {
    margin-top: 2%;
}
.item-name-in-page-cart {
    max-width: 45%;
    min-width: 45%;
    float: left;
    margin: 1%;
    padding-left: 1%;
}
.item-amount-in-page-cart {
    max-width: 15%;
    min-width: 15%;
    float: left;
    margin: 1%;
}
.item-price-in-page-cart {
    max-width: 20%;
    min-width: 20%;
    float: left;
    margin: 1%;
}
.item-remove-in-page-cart {
    max-width: 10%;
    min-width: 10%;
    float: left;
    margin: 1%;
    text-align: right;
}
.item-remove-in-page-cart-content {
    text-align: center;
    max-width: 4.5%;
    min-width: 4.5%;
    float: right;
    margin: 1%;
    margin-right: 2%;
    transition: 0.4s;
    cursor: pointer;
    color: #7e7e7e;
    border: 1px solid #7e7e7e;
    border-radius: 4px;
}
.item-remove-in-page-cart-content:hover {
    color: #F7C544;
}
#items-in-the-page-cart-container {
    padding: 0 0 4% 0;
}
.straight-line {
    margin: 0 1%;
}
.lower-item-name-checkout {
    max-width: 69%;
    min-width: 69%;
    float: left;
    text-align: right;
    margin: 0.8% 1%;
    font-weight: bold;
}
.lower-item-value-checkout {
    max-width: 26%;
    min-width: 26%;
    float: left;
    text-align: right;
    margin: 0.8% 1%;
}
#tip-input {
    width: 20%;
    margin-bottom: 2%;
    border: none;
    border: 2px solid #a7a7a7;
    border-radius: 3px;
    font-size: 16px;
    text-align: right;
    font-family: 'Abel', sans-serif;
}





#destination-address-container {
    width: 96.5%;
    margin: 0 auto;
}
.destination-address-text {
    font-size: 110%;
    color: #000000;
}




#account-type-icon-container-sign-in-up {
    width: 20%;
    margin: 0 auto;
    overflow: hidden;
}
#please-sign-in-sign-up-container {
    text-align: center;
    margin-top: 5%;
}
.sign-in-sign-up-button {
    font-size: 12px;
    padding: 10px 15px;
    background-color: #F7C544;
    color: #ffffff;
    z-index: 1;
    margin-right: 3%;
}



#proceed-to-payment-button-container {
    margin-top: 2%;
}




/*
.radio-buttons-card-type {
    margin: 8% 2% 4% 0;
    float: left;
    width: 42%;
}
#payment-entries {
    border: 1px solid red;
    width: 100%;
}
.payment-details-input {
    width: 100%;
    margin-bottom: 2%;
    border: none;
    border: 2px solid #a7a7a7;
    border-radius: 3px;
    height: 24px;
    font-size: 16px;
    display:  block;
}*/
.single-saved-card-container-checkout {
    width: 95%;
    margin: 0.8% 0.6% 0% 0.6%;
    display: inline-block;
    padding: 2%;
    background-color: #e1e1e1;
    border-radius: 4px;
    overflow: hidden;
}
.payment-option-radio-btn {
    float: right;
    margin-top: 1.5%;
}
#pay-for-item-button {
    margin: 0 auto;
}
#pay-for-item-button-container {
    width: 100%;
    text-align: center;
    overflow: auto;
}
#pay-for-item-button {
    background-color: #F7C544;
    margin-top: 5%;
}


#response-from-order {
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    font-size: 25px;
}
.after-payment-process-button-div {
    text-align: center;
}
.after-payment-process-button {
    background-color: #F7C544;
    margin-top: 2%;
}






/* Make app responsive */
@media screen and (max-width:1400px) {
    #whole-container {
        width: 70%;
    }    

    .checkout-company-logo {
        height: 120px !important;
        width: 130px !important;
    }
}

@media screen and (max-width:1100px) {
    #whole-container {
        width: 70%;
    }    

    .checkout-company-logo {
        height: 100px !important;
        width: 110px !important;
    }
}

@media screen and (max-width:950px) {
    #whole-container {
        width: 100%;
        overflow: auto;
        margin: 14% 0 2% 0;
        padding: 2% 0%;
    }    

    .checkout-company-logo {
        height: 90px !important;
        width: 100px !important;
    }

    .icon-1 {
        margin-right: 20px;
    }    
    .icon-2 {
        margin-right: 10px;
    }
}

@media screen and (max-width:850px) {
    #whole-container {
        margin: 16% 0 2% 0;
    }    
}

@media screen and (max-width:750px) {
    #whole-container {
        margin: 20% 0 2% 0;
    }    

    .checkout-company-logo {
        height: 80px !important;
        width: 90px !important;
    }
}

@media screen and (max-width:650px) {
    #whole-container {
        margin: 23% 0 2% 0;
    }    
}

@media screen and (max-width:580px) {
    #whole-container {
        margin: 26% 0 2% 0;
    }    

    .item-amount-in-page-cart {
        max-width: 13%;
        min-width: 13%;
    }
    .item-remove-in-page-cart-content {
        margin-right: 5%;
    }
    .lower-item-name-checkout {
        max-width: 66.5%;
        min-width: 66.5%;
    }
}

@media screen and (max-width:500px) {
    #whole-container {
        margin: 29% 0 2% 0;
    }    

    .lower-item-name-checkout {
        font-size: 14px; 
    }
    .lower-item-value-checkout {
        font-size: 14px; 
    }
}

@media screen and (max-width:450px) {
    #whole-container {
        margin: 32% 0 2% 0;
    }    

    #order-items-title {
        font-size: 190%;
    }

    .item-name-in-page-cart {
        font-size: 15px !important;
        max-width: 38%;
        min-width: 38%;
    }
    .item-amount-in-page-cart {
        font-size: 15px !important;
        max-width: 15%;
        min-width: 15%;
    }
    .item-price-in-page-cart {
        font-size: 15px !important;
        max-width: 23%;
        min-width: 23%;
    }
    .item-remove-in-page-cart {
        font-size: 15px !important;
    }
    .item-remove-in-page-cart-content {
        font-size: 15px !important;
    }
}

@media screen and (max-width:450px) {
    #whole-container {
        margin: 35% 0 2% 0;
    }    
}