body, h1, h2, h3, h4, h5, h6, nav, div {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    color: #000000;
}

.custom-button {
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Abel', sans-serif;
    z-index: 3;
}
.custom-button:hover {
    opacity: 0.7;
}


.cursor-pointer {
    cursor: pointer;
}


.color-black {
    color: black;
}
.image-take-full-space{
    height: 100%;
    width: 100%;
}
.full-width {
    width: 100%;
}
.straight-line {
    border: 1px solid #000000;
}

ul {
    list-style-type: none;
    margin: 3%;
    padding: 3%;
}
ul > li > Link {
    cursor: pointer;
}
ul > li > Link:hover {
    color: #e6e6e6;
}

/* menu bar styling */
#accordian {
    color: #F7C544;
    position: fixed;
    right: 2%;
    top: 4%;
    z-index: 1;
    font-size: 200%;
    transition: 0.4s;
    cursor: pointer;
}
#accordian:hover {
    color:#59d894;
    font-size: 205%;
    right: 1.95%;
    top: 3.95%;
}
#menu {
    background-color: #F7C544;
    position: fixed;
    right: 1.8%;
    top: 3.8%;
    z-index: 4;
    min-height: 40%;
    border-radius: 1%;
    min-width: 30%;
    transition: 0.3s;
}
#closeIcon {
    color: #000000;
    float: right;
    font-size: 160%;
    transition: 0.3;
    cursor: pointer;
    margin: 10px;
}
#closeIcon:hover {
    color: #292929;
}
#items-in-menu {
    padding: 3% 1%;
}
.link {
    color: #000000;
    transition: 0.3s;
    text-decoration: none;
    font-size: 16px;
}
.link:hover {
   color: #ffffff;
}
a {
    text-decoration: none;
    color: #ffffff;
}


#scroll-back-up {
    background-color: #F7C544;
    position: fixed;
    left: 1%;
    bottom: 1%;
    z-index: 1;
    font-size: 200%;
    transition: 0.3;
    cursor: pointer;
    border-radius: 2px;
    padding-top: 5px;
}
#scroll-back-up:last-child {
    color: green;
}
#scroll-back-up:hover{
    background-color: rgb(227, 180, 63);
}

.bold {
    font-weight: bold;
}
.margin-right-10 {
    margin-right: 10px;
}

.valid-color {
    color: #258e25 !important;
}
.bad-color {
    color: #ff3333 !important;
}
.error-message {
    color: #ff3333 !important;
}
.default-bg-color {
    background-color: #a7a7a7 !important;
}


.input-entries {
    width: 98% !important;
    border: none;
    border: 2px solid #a7a7a7;
    border-radius: 3px;
    height: 24px;
    font-size: 16px;
    font-family: 'Abel', sans-serif !important;
}

.total-num-of-data-top {
    float: right;
    font-size: 13px;
}
.margin-top10 {
    margin-top: 10px;
}
.margin-top20 {
    margin-top: 20px;
}
.margin-bottom20 {
    margin-bottom: 20px;
}
.margin-bottom10 {
    margin-bottom: 10px;
}
.margin-left2 {
    margin-left: 20px;
}
.margin-top-bottom-5 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.margin-top1pointFive-per {
    margin-top: 1.5%;
}
.margin-top1-per {
    margin-top: 1%;
}
.margin-top3-per {
    margin-top: 3%;
}
.margin-top6-per {
    margin-top: 6%;
}

.margin-below-company-icon {
    padding-top: 20%;
}

.unavailable-feature {
    text-align: center;
    font-weight: bolder;
    margin: 10% auto;
    font-size: 20px;
}

#ok-button-container {
    width: 100%;
    clear: both;
    margin-top: 6%;
    text-align: center;
}
.ok-button {
    background-color: #ffd633;
    margin: 3% auto;
}

.clear-both {
    clear: both;
}

.color-black {
    color: black;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.marginOAuto {
    margin: 0 auto;
}
.italic {
    font-style: italic;
}

.button-container {
    width: 100%;
    text-align: center;
}
.micro-mini-font {
    font-size: 14px;
}

.micro-font {
    font-size: 15px;
}

.small-big-font {
    font-size: 23px;
}

.small-title {
    font-size: 30px;
    font-weight: bold;
}

.width-100-percent {
    width: 100% !important;
    display: inline-block;
}

.mini-important-information {
    font-style: italic !important;
    color: #ff3333;
    display: inline;
    font-size: 16px;
}

.one-new-order {
    position: absolute;
    right: 10px;
    padding: 4px;
    border-radius: 3px;
    background-color: #ff3333;
    color: #ffffff;
}


.absolute-company-logo {
    height: 150px;
    width: 180px;
    margin: 15px;
    margin-top: 1.5%;
    position: absolute;
    left: 0;
    top: 0;
}


.overflow-auto {
    overflow: auto;
}

.load-more {
    display: inline-block;
    width: 60%;
    border: 2px solid #81caa2;
    margin: 4% auto 0 auto;
    padding: 5px 0;
    text-align: center;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.15s;
    color: #a5a5a5;
}
.load-more:hover {
    border: 2px solid #4db57c;
    color: #222222;
}





/* make app responsive */
@media screen and (max-width:1500px) {
    #menu {
        min-width: 40%;
    }
}


@media screen and (max-width:1150px) {
    #menu {
        min-width: 45%;
    }
}


@media screen and (max-width:1000px) {
    #menu {
        min-width: 50%;
    }
}

@media screen and (max-width:880px) {
    .absolute-company-logo  {
        height: 140px;
        width: 175px;
    }
}

@media screen and (max-width:710px) {
    .absolute-company-logo  {
        height: 120px;
        width: 130px;
        margin-top: 3.5%;
    }
}

@media screen and (max-width:590px) {
    #accordian {
        right: 2%;
        top: 4%;
        font-size: 180%;
    }
    #accordian:hover {
        font-size: 185%;
    }

    .absolute-company-logo  {
        height: 100px;
        width: 110px;
        margin-top: 4.5%;
    }

    #menu {
        min-width: 60%;
    }

    #closeIcon {
        font-size: 180%;
    }

    .one-new-order {
        position: absolute;
        padding: 3px;
        font-size: 15px;
    }
}

@media screen and (max-width:500px) {
    .absolute-company-logo  {
        height: 80px;
        width: 95px;
        margin-top: 4.5%;
    }
}

@media screen and (max-width:450px) {
    #accordian {
        right: 2%;
        top: 4%;
        font-size: 160%;
    }
    #accordian:hover {
        font-size: 165%;
    }

    #closeIcon {
        font-size: 160%;
    }
}