#store-name-in-filter {
    display: block;
    margin-top: 2%;
}
#start-date-filter, #end-date-filter, #store-name-in-filter {
    width: 98%;
}

.input-name-entry {
    width: 500px;
    border: none;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    height: 25px;
    font-size: 14px;
    padding: 5px;
    font-family: 'Abel', sans-serif !important;
    color: #000000;
}




/* make app responsive */
@media screen and (max-width: 480px) {
    #start-date-filter, #end-date-filter, #store-name-in-filter {
        width: 97%;
    }

    #all-orders-list {
        margin-bottom: 100px;
    }
}