#alpha-outgoing-orders-container {
    position: relative;
}




#all-ongoing-orders-container {
    padding: 1%;
    background-color: #fcfcfc;
    overflow: auto;
    position: relative;
}



#start-order-container-minimized {
    background-color: #f3f3f3;
    margin: 1.2% 0;
    border-radius: 3px;
    overflow: auto;
    padding: 1.5%;
}
#start-order-container-maximized {
    background-color: #f3f3f3;
    border-radius: 3px;
    overflow: auto;
    padding: 1.5%;

    position: fixed;
    width: 97%;
    height: 100vh;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    overflow: auto;
}

#small-icons-containers {
    text-align: right;
}
.icons-for-started-order {
    font-size: 20px;
    margin-left: 1%;
    cursor: pointer;
    transition: 0.5s;
}
.icons-for-started-order:hover {
    color: #ffd633;
}
.map-icon-container {
    height: 80px;
    width: 80px;
    margin: 0 auto;
}
#map-container {
    width: 100%;
    background-color: #ffffff;
    overflow: auto;
    height: 300px;
    margin-top: 2%;
    padding: 3px;
    border-radius: 3px;
}
#destination-button-container {
    overflow: auto;
    margin-top: 3%;
}
#open-store-address-btn {
    background-color: #ffd633;
}
#picked-up-order-btn {
    background-color: #45c780;
    float: right;
}




.single-ongoing-order-container {
    background-color: #f3f3f3;
    margin: 1.2% 0;
    border-radius: 3px;
    padding: 1%;
    overflow: auto;
    padding: 1.5%;
}
.start-order-btn-container{
    text-align: center;
    margin-top: 4%;
}
.start-order-btn {
    background-color: #45c780;
    margin: 0 auto;
}



/* Make app respinsive */
@media screen and (max-width: 800px) {
    #order-id {
        margin-top: 2%;
    }
}

@media screen and (max-width: 500px) {
    #map-container {
        height: 310px;
    }
    #open-store-address-btn, #picked-up-order-btn {
        padding: 7px 12px;
        font-size: 14px;
    }
    .start-order-btn {
        padding: 7px 12px !important;
        font-size: 14px !important;
        margin-top: 2%;
    }
}


@media screen and (max-width: 480px) {
    #all-ongoing-orders-container {
        margin-bottom: 100px;
    }
}