#middle-section-of-page-alpha-driver {
    overflow: auto;
    width: 65%;
    margin-left: 20%;
    min-height: 500px;
    background-color: #f7f7f7;
}

#list-of-all-option-icons-driver {
    padding-top: 3%;
    overflow: auto;
    text-align: center;
}

#list-of-all-option-icons-content-container-driver {
    text-align: center;
    width: 50%;
    overflow: auto;
    margin: 0 auto;
}

.single-icon-container-driver {
    width: 25%;
    padding: 8px;
    transition: 0.3s;
    cursor: pointer;
    float: left;
    margin-left: 5%;
    border-radius: 5px;
    margin-bottom: 4%;
    position: relative;
}
.single-icon-container-driver:hover {
    background-color: #45a470 !important;
}





/* Make app responsive */
@media screen and (max-width:1642px) {
    #list-of-all-option-icons-content-container-driver {
        min-width: 65%;
    }
}

@media screen and (max-width:1550px) {
    #list-of-all-option-icons-content-container-driver {
        min-width: 65%;
    }

    .single-image-icon-container {
        width: 77px;
        height: 77px;
    }   
    .title-name-single-icon {
        font-size: 16px;
    }
}

@media screen and (max-width:1440px) {
    #list-of-all-option-icons-content-container-driver {
        min-width: 65%;
    }

    .single-image-icon-container {
        width: 75px;
        height: 75px;
    }
}


@media screen and (max-width:1365px) {
    .driver-company-icon {
        height: 150px !important;
        width: 160px !important;
        margin: 15px;
    }

    #middle-section-of-page-alpha-driver {
        width: 70%;
        margin-left: 18%;
    }

    #list-of-all-option-icons-content-container-driver {
        min-width: 65%;
    }
    .single-icon-container-driver {
        padding: 7px;
    }
    .single-image-icon-container {
        width: 65px;
        height: 65px;
    }
}


@media screen and (max-width:1205px) {
    .driver-company-icon {
        height: 140px !important;
        width: 150px !important;
    }

    #list-of-all-option-icons-content-container-driver {
        min-width: 75%;
    }
}

@media screen and (max-width:1162px) {
    .driver-company-icon {
        height: 130px !important;
        width: 140px !important;
    }

    #list-of-all-option-icons-content-container-driver {
        min-width: 75%;
    }
}

@media screen and (max-width:1148px) {
    #list-of-all-option-icons-content-container-driver {
        min-width: 75%;
    }
    .single-icon-container-driver {
        padding: 5px;
    }
    .single-image-icon-container {
        width: 55px;
        height: 55px;
    }
    .title-name-single-icon {
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        margin-top: 5px;
    }
}

@media screen and (max-width:1100px) {
    .driver-company-icon {
        height: 120px !important;
        width: 135px !important;
    }

    #list-of-all-option-icons-content-container-driver {
        min-width: 80%;
    }

    .single-image-icon-container {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width:1030px) {
    #middle-section-of-page-alpha-driver {
        overflow: auto;
        width: 100%;
        min-height: 500px;
        margin: 0;
    }

    #drivers-title {
        font-size: 45px;
        margin-top: 4%;
    }

    #list-of-all-option-icons-content-container-driver {
        min-width: 55%;
    }
}

@media screen and (max-width:1000px) {
    #list-of-all-option-icons-content-container-driver {
        min-width: 60%;
    }
}

@media screen and (max-width:950px) {
    .driver-company-icon {
        height: 100px !important;
        width: 105px !important;
    }

    #drivers-title {
        font-size: 45px;
        margin-top: 5%;
    }

    #list-of-all-option-icons-content-container-driver {
        min-width: 60%;
    }
}

@media screen and (max-width:900px) {
    .driver-company-icon {
        height: 95px !important;
        width: 100px !important;
    }

    #list-of-all-option-icons-content-container-driver {
        min-width: 60%;
    }
}

@media screen and (max-width:800px) {
    .driver-company-icon {
        height: 95px !important;
        width: 95px !important;
    }

    #list-of-all-option-icons-content-container-driver {
        min-width: 65%;
    }
}

@media screen and (max-width:750px) {
    .driver-company-icon {
        height: 80px !important;
        width: 85px !important;
    }

    .title-name-single-icon {
        font-weight: bold;
        text-align: center;
        font-size: 13px;
        margin-top: 5px;
    }
}

@media screen and (max-width:730px) {
    .driver-company-icon {
        height: 90px !important;
        width: 100px !important;
        margin: 10px;
    }

    #drivers-title {
        font-size: 45px;
        margin-top: 6%;
    }
}

@media screen and (max-width:650px) {
    #drivers-title {
        font-size: 38px;
        margin-top: 10%;
    }
}

@media screen and (max-width:600px) {
    #list-of-all-option-icons-content-container-driver {
        min-width: 70%;
    }

    #drivers-title {
        font-size: 38px;
        margin-top: 18%;
    }
}

@media screen and (max-width:500px) {
    #drivers-title {
        font-size: 38px;
        margin-top: 20%;
    }
}

@media screen and (max-width: 480px) {
    .driver-company-icon {
        height: 70px !important;
        width: 80px !important;
        margin: 4px;
    }

    #drivers-title {
        font-size: 38px;
        margin-top: 25%;
    }

    #list-of-all-option-icons-content-container-driver {
        min-width: 70%;
    }
    #list-of-all-option-icons-driver {
        position: fixed;
        padding: 0;
        bottom: 0;
        margin: 0;
        left: 0;
        right: 0;
        z-index: 5;
        background-color: #F7F7F7;
        width: 100%;
        border-top: 2px solid black;
    }
    .single-icon-container-driver {
        margin-top: 2.5%;
    }
    .single-image-icon-container {
        width: 45px;
        height: 45px;
    }
    .title-name-single-icon {
        font-weight: bold;
        text-align: center;
        font-size: 11px;
        margin-top: 5px;
    }

    #drivers-footer {
        display: none;
    }
}


@media screen and (max-width: 450px) {
    #list-of-all-option-icons-content-container-driver {
        min-width: 80%;
    }
}

@media screen and (max-width: 380px) {
    #list-of-all-option-icons-content-container-driver {
        min-width: 90%;
    }
}