#order-request-container {
    min-height: 600px;
    background-color: #fcfcfc;
}



#new-order-request-container {
    padding-top: 3%;
}
.single-order-request {
    background-color: #f3f3f3;
    border-radius: 3px;
    overflow: auto;
    padding: 1%;
    width: 95%;
    margin: 1% auto;
    font-size: 14px;
}
.timer-container {
    float: right;
    margin: 1% 1.5%;
    font-weight: bold;
    color: #ed323b;
}
.order-request-top-section {
    margin: 2% 1%;
}
.order-request-mid-section {
    margin: 2% 1%;
}
.order-request-lower-section {
    margin: 3% 1% 1% 1%;
}
.yes-i-would-take-it-button {
    background-color: #4acf6e;
    margin-top: 4%;
    float: left;
}
.cant-take-it-button {
    background-color: #ed323b;
    margin-top: 4%;
    float: right;
}




/* Make the app responsive */
@media screen and (max-width: 480px) {
    #new-order-request-container {
        margin-bottom: 100px;
    }

    .single-order-request {
        font-size: 14px;
    }
    .timer-container {
        font-size: 12px;
    }
    .yes-i-would-take-it-button, .cant-take-it-button {
        padding: 7px 12px !important;
        font-size: 12px !important;
        margin-top: 2%;
        margin-bottom: 1%;
    }
}