#footer-container {
    background-color: #4db57c;
    padding: 3%;
    overflow: auto;
    color: #ffffff;
    font-size: 18px;
    display: block;
    clear: both;
}




.footer-links-anchor {
    transition: 0.3s;
}
.footer-links-anchor:hover {
    color: #F7C544;
}





#company-logo-container {
    height: 120px;
    width: 120px;
    float: right;
}





/* make app responsive */
@media screen and (max-width:920px) {
    #company-logo-container {
        height: 90px;
        width: 90px;
    }
}

@media screen and (max-width:500px) {
    #company-logo-container {
        height: 70px;
        width: 70px;
    }
}