.Demo__search-bar-container {
    position: relative;
}

.Demo__search-input-good {
    width: 100%;
    margin-top: 8px;
    padding: 2.5px;
    font-size: 90%;
    border-radius: 3px;
    border: 2px solid #258e25;
    box-sizing: border-box;
    min-height: 35px;
    font-family: 'Abel', sans-serif;
    padding-left: 10px;
}

.Demo__search-input-bad {
    width: 100%;
    margin-top: 8px;
    padding: 2.5px;
    font-size: 90%;
    border-radius: 3px;
    border: 2px solid #ff3333;
    box-sizing: border-box;
    min-height: 35px;
    font-family: 'Abel', sans-serif;
    padding-left: 10px;
}

.Demo__autocomplete-container {
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    margin-top: 5px;
    border: 1px solid #d3d3d3;
    padding: 4px 0;
    font-size: 15px;
}

.suggestion-item, .suggestion-item--active {
    cursor: pointer;
    padding: 8px 0px 5px 10px;
}

.suggestion-item:hover, .suggestion-item--active:hover {
    background-color: #e2e2e2;
}



/* make app resposive */
@media screen and (max-width:500px) {
    .Demo__search-input-good {
        margin-top: 5px;
        font-size: 80%;
        min-height: 25px;
    }
    
    .Demo__search-input-bad {
        margin-top: 5px;
        font-size: 80%;
        min-height: 25px;
    }

    .Demo__autocomplete-container {
        font-size: 14px;
    }
}

