#map-component {
    border: 1px solid red;
}

#marker-icon {
    color: red;
    font-size: 200px;
}

#actual-map {
    height: 300px;
    width: 100%;
}

@media screen and (max-width: 500px) {
    #actual-map {
        height: 310px;
    }
}