#sign-up-button {
    position: absolute;
    right: 4.2%;
    top: 4.5%;
    font-size: 12px;
    padding: 10px 15px;
    background-color: #F7C544;
    color: #ffffff;
    font-weight: bold;
    z-index: 1;
}

#sign-in-button {
    position: absolute;
    right: 8.5%;
    top: 4.5%;
    font-size: 12px;
    padding: 10px 15px;
    background-color: #F7C544;
    color: #ffffff;
    font-weight: bold;
    z-index: 1;
}

#head-container {
    width: 100%;
    background: url('../images/our_images/background6.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    position: relative;
    padding-bottom: 3%;
}


.company-logo {
    height: 150px;
    width: 180px;
    margin: 10px;
    margin-top: 1%;
}
.name-icon {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    margin-top: 4%;
}


#special-note{
    font-size:150%;
    color: #ffffff;
    text-align: center;
    color: #F7C544;
}


#address-lookup {
    width: 50%;
    margin: 0 auto;
    margin-top: 20%;
}

#services-we-offer{
    width: 42%;
    margin: 0 auto;
    margin-top: 1%;
    overflow:hidden;
    margin-bottom: 8%;
}
.service{
    /* background: url('../images/our_images/background5.jpg') no-repeat center center fixed; */
    height: 250px;
    width: 47%;
    /* background-color: #ffffff; */
    float: left;
    margin: 1%;
}
.top-section-service {
    position: relative;
    border-radius: 3px;
    transition: 0.4s;
    border: 2px solid #ffd633;
    height: 200px;
    width: 100%;
    overflow: auto;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}
.top-section-service:hover {
    background-color: rgba(0,0,0,0.8);
}
.top-section-service:hover > .top-section-image-container > .top-section-image {
    opacity: 0.6;
}
.title {
    font-size: 55px;
    font-weight: bolder;
    color: #ffffff;
}
.top-section-image-container {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}
.top-section-image {
    height: 100%;
    width: 100%;
    transition: 0.4s;
}
.more-info-service-button {
    width: 100%;
    background-color: #ffd633;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    border: 2px solid #ffd633;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}
.more-info-service-button:hover {
    background-color: #cdac2a;
    border: 2px solid #cdac2a;
}
.more-info-icon-in-lower-section {
    color: #ffffff;
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    transition: 0.3s;
}
.more-info-service-button:hover > .more-info-icon-in-lower-section {
    color: #dcdcdc;
}




.snippet-info {
    height: 600px;
    position: relative;
    background-color: #ffffff;
    padding: 2%;
    overflow: hidden;
}
.snippet-info-left {
    float: left;
    width: 48%;
    margin-left: 1%;
    margin-top: 2%;
}
.snippet-left-or-right-image-container {
    height: 75%;
    width:  75%;
    margin-left: 10%;
}
.left-or-right-image {
    height: 100%;
    width: 100%;
}
.snippet-info-left-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 13%;
    padding: 4%;
    border-radius: 3px;
}
.snippet-info-left-massive-text {
    font-size: 390%;
    font-weight: bolder;
}
.snippet-info-right {
    float: right;
    width: 48%;
}






#servies-we-offer-more-info{
    display: block;
    overflow: auto;
    background-color: #fafafa;
}
.service-more-info {
    display: block;
    padding: 2%;
    overflow: auto;
}
.more-info-container {
    width: 42%;
    background-color: #f2f2f2;
    padding: 2%;
    transition: 0.2s;
    position: relative;
}
.more-info-container:hover {
    background-color: #e3e3e3;
}
.more-info-icon {
    height: 100px;
    width: 100px;
}
.more-info-icon-image {
    height: 100%;
    width: 100%;
}
.more-info-title {
    font-size: 40px;
    font-weight: bolder;
    color: #000000;
    margin-bottom: 2%;
}
.more-info-text {
    color: black;
}
.order-now-more-info-service-button{
    float: right;
    margin-top: 2%;
    background-color: #ffd633;
}









#about-us-container {
    background-color: #f5f5f5;
    padding: 3%;
    overflow: auto;
}
#description-on-who-we-are {
    padding: 1% 10px;
}
#ceo-signature {
    float: right;
}
#ceo-icon-logo {
    height: 120px;
    width: 120px;
}
#ceo-name {
    text-align: center;
}



/* make app responsive */
@media screen and (max-width:1665px) {
    #sign-in-button {
        right: 8.8%;
    }
}

@media screen and (max-width:1595px) {
    #sign-in-button {
        right: 9.3%;
    }
    #sign-up-button {
        position: absolute;
        right: 4.5%;
    }



    .more-info-container {
        width: 45%;
    }
}

@media screen and (max-width:1537px) {
    #sign-in-button {
        right: 9.6%;
    }
    #sign-up-button {
        position: absolute;
        right: 4.7%;
    }
}

@media screen and (max-width:1475px) {
    #sign-in-button {
        right: 9.8%;
    }
    #sign-up-button {
        position: absolute;
        right: 4.8%;
    }
}

@media screen and (max-width:1450px) {
    #sign-in-button {
        right: 10%;
    }
    #sign-up-button {
        position: absolute;
        right: 4.9%;
    }
}

@media screen and (max-width:1400px) {
    #sign-in-button {
        right: 10.5%;
    }
    #sign-up-button {
        position: absolute;
        right: 5.1%;
    }

    #services-we-offer{
        width: 55%;
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 8%;
    } 


    .snippet-left-or-right-image-container {
        height: 85%;
        width:  85%;
        margin-left: 10%;
    }
}

@media screen and (max-width:1340px) {
    #sign-in-button {
        right: 10.9%;
    }
    #sign-up-button {
        position: absolute;
        right: 5.3%;
    }



    .more-info-container {
        width: 45.8%;
    }



    .snippet-info-left-massive-text {
        font-size: 370%;
        font-weight: bolder;
    }
}

@media screen and (max-width:1320px) {
    #sign-in-button {
        right: 11%;
    }
    #sign-up-button {
        position: absolute;
        right: 5.4%;
    }
}

@media screen and (max-width:1290px) {
    #sign-in-button {
        right: 11.5%;
    }
    #sign-up-button {
        position: absolute;
        right: 5.7%;
    }



    #services-we-offer{
        width: 60%;
    } 
}

@media screen and (max-width:1240px) {
    #sign-in-button {
        right: 11.8%;
    }
    #sign-up-button {
        position: absolute;
        right: 5.8%;
    }
}

@media screen and (max-width:1210px) {
    #head-container {
        padding-bottom: 3.5%;
    }



    #sign-in-button {
        right: 12%;
    }
    #sign-up-button {
        right: 5.85%;
    }



    #special-note{
        margin-top: 3%;
    }
}

@media screen and (max-width:1210px) {
    #sign-in-button {
        right: 12.5%;
    }
    #sign-up-button {
        right: 6%;
    }



    #services-we-offer{
        width: 65%;
    } 



    .snippet-left-or-right-image-container {
        height: 90%;
        width:  90%;
        margin-left: 10%;
    }
    .snippet-info-left-massive-text {
        font-size: 350%;
        font-weight: bolder;
    }
}


@media screen and (max-width:1150px) {
    #sign-in-button {
        right: 13%;
    }
    #sign-up-button {
        right: 6.3%;
    }




    .more-info-title {
        margin-top: 2.5%;
        margin-bottom: 2%;
    }
}

@media screen and (max-width:1150px) {
    #sign-in-button {
        right: 13.5%;
    }
    #sign-up-button {
        right: 6.4%;
    }



    .more-info-title {
        margin-top: 2.5%;
        margin-bottom: 2%;
    }
    .order-now-more-info-service-button{
        margin-top: 6%;
    }



    #ceo-signature {
        margin-top: 4%;
    }
}

@media screen and (max-width:1050px) {
    #head-container {
        padding-bottom: 4.5%;
    }


    #sign-in-button {
        right: 14.5%;
    }
    #sign-up-button {
        right: 6.9%;
    }


    .snippet-info {
        height: 500px;
    }
    .snippet-left-or-right-image-container {
        height: 95%;
        width:  95%;
        margin-left: 10%;
    }
    .snippet-info-left-massive-text {
        font-size: 320%;
        font-weight: bolder;
    }



    .service-more-info {
        padding: 4% 1.5%;
    }
    .more-info-container {
        width: 46%;
    }
}


@media screen and (max-width:980px) {
    #sign-in-button {
        right: 15%;
    }
    #sign-up-button {
        right: 7%;
    }




    .snippet-info {
        height: 450px;
    }
}

@media screen and (max-width:920px) {
    #sign-in-button {
        right: 15.5%;
    }
    #sign-up-button {
        right: 7.1%;
    }
}

@media screen and (max-width:880px) {
    .company-logo {
        height: 150px;
        width: 200px;
    }




    #sign-in-button {
        right: 16.5%;
    }
    #sign-up-button {
        right: 7.6%;
    }



    .snippet-info {
        height: 420px;
    }
    .snippet-info-left-container {
        margin-top: 8%;
    }
    .snippet-info-left-massive-text {
        font-size: 280%;
        font-weight: bolder;
    }
}

@media screen and (max-width:830px) {
    #sign-in-button {
        right: 17.5%;
    }
    #sign-up-button {
        right: 8%;
    }
}

@media screen and (max-width:770px) {
    #sign-in-button {
        right: 18.5%;
    }
    #sign-up-button {
        right: 8.5%;
    }
}

@media screen and (max-width:745px) {
    #sign-in-button {
        right: 19.5%;
    }
    #sign-up-button {
        right: 9.2%;
    }



    #services-we-offer{
        width: 60%;
    }
    .service{
        height: 220px;
        width: 48%;
    }
    .top-section-service {
        height: 180px;
    }
    .top-section-image-container {
        height: 110px;
        width: 110px;
        margin-top: 25px;
    }
    .more-info-service-button {
        height: 30px;
    }




    .snippet-info {
        height: 360px;
    }
}

@media screen and (max-width:730px) {
    #sign-in-button {
        right: 20.5%;
    }
    #sign-up-button {
        right: 9.9%;
    }
}

@media screen and (max-width:710px) {
    #sign-in-button {
        right: 20%;
    }
    #sign-up-button {
        right: 9%;
    }


    .company-logo {
        height: 120px;
        width: 130px;
        margin-top: 3.5%;
    }
    .name-icon {
        width: 450px;
        height: 90px;
    }
}

@media screen and (max-width:650px) {
    #sign-in-button {
        right: 21%;
    }


    #services-we-offer{
        width: 70%;
    }
}

@media screen and (max-width:590px) {
    #sign-in-button {
        right: 21%;
        padding: 8px 12px;
    }
    #sign-up-button {
        right: 9%;
        padding: 8px 12px;
    }


    .company-logo {
        height: 100px;
        width: 110px;
        margin-top: 4.5%;
    }
    .name-icon {
        width: 400px;
        height: 80px;
    }


    #services-we-offer{
        width: 70%;
    }


    .snippet-info {
        height: 320px;
    }
    .snippet-info-left-container {
        margin-top: 8%;
    }
    .snippet-left-or-right-image-container {
        height: 120%;
        width:  100%;
        margin-left: 10%;
    }
    .snippet-info-left-massive-text {
        font-size: 250%;
        font-weight: bolder;
    }

    
    .service-more-info {
        padding: 4% 1.5%;
    }
    .more-info-container {
        width: 60%;
    }
}


@media screen and (max-width:550px) {
    #sign-in-button {
        right: 22.5%;
    }

    .snippet-info {
        height: 300px;
    }
    .snippet-info-left-massive-text {
        font-size: 220%;
        font-weight: bolder;
    }
}

@media screen and (max-width:500px) {
    #sign-in-button {
        right: 23%;
    }

    .company-logo {
        height: 80px;
        width: 95px;
        margin-top: 4.5%;
    }
    .name-icon {
        width: 350px;
        height: 80px;
    }

    #services-we-offer{
        width: 75%;
    }
    .service{
        height: 220px;
        width: 48%;
    }
    .top-section-service {
        height: 150px;
    }
    .top-section-image-container {
        height: 96px;
        width: 96px;
        margin-top: 25px;
    }
    .more-info-service-button {
        height: 30px;
    }
}


@media screen and (max-width:500px) {
    #sign-in-button {
        right: 25.2%;
    }

    #ceo-icon-logo {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width:450px) {
    #sign-in-button {
        right: 26.5%;
        padding: 8px 10px;
    }
    #sign-up-button {
        right: 10%;
        padding: 8px 10px;
    }

    .name-icon {
        margin-top: 10%;
        width: 320px;
        height: 70px;
    }

    .snippet-info {
        height: 300px;
    }
    .snippet-info-left-container {
        margin-top: 10%;
    }
    .snippet-info-left-massive-text {
        font-size: 200%;
        font-weight: bolder;
    }

    
    .service-more-info {
        padding: 4% 1.5%;
    }
    .more-info-container {
        width: 80%;
    }
}


@media screen and (max-width:375px) {
    #sign-in-button {
        right: 28%;
    }

    .name-icon {
        margin-top: 10%;
        width: 300px;
        height: 70px;
    }

    #services-we-offer{
        width: 80%;
    }
    .service{
        height: 250px;
        width: 48%;
    }
    .top-section-service {
        height: 130px;
    }
    .top-section-image-container {
        height: 85px;
        width: 85px;
        margin-top: 22px;
    }


    .snippet-info {
        height: 210px;
    }
    .snippet-info-left-container {
        margin-top: 10%;
    }    
    .snippet-info-left-massive-text {
        font-size: 150%;
        font-weight: bolder;
    }


    .service-more-info {
        padding: 4% 1.5%;
    }
    .more-info-container {
        width: 95%;
    }
}
