#whole-nav-bar {
    width: 100%;
    height: 60px;
    background-color:#45a470;
}


#navbar-left-wing{
    float: left;
}
#not-logged-in {
    font-size:18px;
    margin-left:10px;
    margin-top: 12px;
    color: #ffffff;
}
#fi-user-for-not-logged-in {
    font-size:25px;
}


#navbar-right-wing {
    float: right;
    margin-top: 8px;
}
#sign-in-button {
    background-color: #F7C544;
    color: #ffffff;
    margin-right: 10px;
}
#login-button {
    background-color: #F7C544;
    color: #ffffff;
    margin-right: 10px;
}