#order-main-container {
    width: 60%;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 2% 10px;
}

#orders-title {
    color: #000000;
}

#orders-list-main-container {
    min-height: 800px;
}

#no-items-available-in-list {
    font-weight: bolder;
    text-align: center;
    padding-top: 350px;
    min-height: 750px;
    font-size: 18px;
    background-color: #fffefe;
    border-radius: 4px;
}


.single-order-item {
    background-color: #fffefe;
    margin: 0.8%;
    margin-bottom: 1.2%;
    border-radius: 3px;
    padding: 1%;
    overflow: auto;
    padding: 1.5%;
    cursor: pointer;
}
.single-order-item:hover{
    background-color: #f0f0f0;
}
.product-vendor-icon-single-order {
    width: 85px;
    overflow: hidden;
    float: right;
}
.product-vendor-icon-single-order-img {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    position: relative;
}
.product-vendor-name-single-order {
    font-size: 20px;
    font-weight: bold;
}
.order-info-single-order {
    font-size: 17px;
    margin-top: 10px;
}
.order-info-single-order-id {
    margin-top: 3%;
    width: 100%;
    text-align: left;
    font-size: 14px;
}
.price-single-order {
    float: right;
}
.date-single-order {
    float: right;
    margin-right: 2%;
}


#modal-container-order-details {
    width: 55%;
    margin: 1.5% auto;
    background-color: #ffffff;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 5px;
    overflow: auto;
}
#order-details-title {
    font-size: 30px;
    color: #000000;
    text-align: center;
}
.pre-info-order-details-modal {
    text-align: center;
}
#order-details-list-headers {
    width: 100%;
}
.item-name-in-order-details-headers{
    min-width: 45%;
    max-width: 45%;
    float: left;
    margin: 0 1%;
    padding-left: 1%;
}
.item-amount-in-order-details-headers {
    min-width: 22%;
    max-width: 22%;
    float: left;
    margin: 0 1%;
    text-align: right;
}
.item-price-in-order-details-headers {
    min-width: 25%;
    max-width: 25%;
    float: left;
    margin: 0 1%;
    text-align: center;
    text-align: right;
}
.item-name-in-order-details-data{
    min-width: 45%;
    max-width: 45%;
    margin: 0 1%;
    float: left;
    padding-left: 1%;
}
.item-amount-in-order-details-data {
    min-width: 22%;
    max-width: 22%;
    margin: 0 1%;
    display: inline-block;
    text-align: center;
    text-align: right;
}
.item-price-in-order-details-data {
    min-width: 25%;
    max-width: 25%;
    margin: 0 1%;
    display: inline-block;
    text-align: right;
}
.lower-item-name-order-details {
    max-width: 70%;
    min-width: 70%;
    float: left;
    text-align: right;
    margin: 0.4% 1%;
    font-weight: bold;
}
.lower-item-value-order-details {
    max-width: 25%;
    min-width: 25%;
    float: left;
    text-align: right;
    margin: 0.4% 1%;
}

#order-status {
    text-align: center;
}
#order-status-svg-container {
    height: 90px;
    width: 55%;
    margin: 0 auto;
}

#order-again-button-div {
    text-align: center;
}
.order-again-button {
    background-color: #F7C544;
    margin-top: 2%;
    width: 25%;
}




/* Make app responsive */
@media screen and (max-width:1400px) {
    #order-main-container {
        width: 70%;
    }    

    .order-details-company-logo {
        height: 120px !important;
        width: 130px !important;
        margin-left: 1% !important;
    }

    #modal-container-order-details {
        width: 65%;
    }
    #order-status-svg-container {
        width: 60%;
    }
}

@media screen and (max-width:1200px) {
    #modal-container-order-details {
        width: 75%;
    }
}

@media screen and (max-width:1100px) {
    #order-main-container {
        width: 70%;
    }    

    .order-details-company-logo {
        height: 100px !important;
        width: 110px !important;
    }

    #modal-container-order-details {
        width: 85%;
    }
    #order-status-svg-container {
        width: 70%;
    }
}

@media screen and (max-width:950px) {
    #order-main-container {
        width: 98%;
        overflow: auto;
        margin: 14% 0 2% 0;
        padding: 2% 1%;
    }    

    #orders-title {
        font-size: 40px;
        margin-left: 1%;
    }

    .order-details-company-logo {
        height: 90px !important;
        width: 100px !important;
    }

    #modal-container-order-details {
        width: 90%;
    }
    #order-status-svg-container {
        width: 75%;
    }
}

@media screen and (max-width:850px) {
    #order-main-container {
        margin: 16% 0 2% 0;
    }    
}

@media screen and (max-width:750px) {
    #order-main-container {
        margin: 20% 0 2% 0;
    }    

    .order-details-company-logo {
        height: 80px !important;
        width: 90px !important;
    }

    .single-order-item {
        background-color: #fffefe;
        margin: 0.8%;
        margin-bottom: 2%;
        font-size: 15px;
    }
    .product-vendor-icon-single-order {
        width: 85px;
        overflow: hidden;
        float: right;
    }
    .product-vendor-name-single-order {
        font-size: 15px;
    }
    .order-info-single-order {
        font-size: 15px;
        margin-top: 15px;
        float: left;
    }
    .price-single-order {
        float: right;
        font-size: 14px;
        clear: both;
        margin-top: 15px;
    }
    .date-single-order {
        font-size: 14px;
        margin-top: 15px;
    }
}

@media screen and (max-width:650px) {
    #order-main-container {
        margin: 23% 0 2% 0;
    }   
    
    #modal-container-order-details {
        width: 90%;
    }
    #order-status-svg-container {
        width: 75%;
    }
    .order-status-text {
        font-size: 14px;
    }
}

@media screen and (max-width:580px) {
    #order-main-container {
        margin: 26% 0 2% 0;
    }  
    
    #order-status-svg-container {
        width: 88%;
    }
    .order-status-text {
        font-size: 14px;
    }
    .order-again-button {
        width: 35%;
    }
}

@media screen and (max-width:500px) {
    #order-main-container {
        margin: 29% 0 2% 0;
    }    

    #modal-container-order-details {
        width: 94%;
    }
    #order-status-svg-container {
        width: 95%;
    }
}

@media screen and (max-width:450px) {
    #order-main-container {
        margin: 32% 0 2% 0;
    }    

    #modal-container-order-details {
        width: 94%;
    }
    #order-status-svg-container {
        width: 98%;
    }
    .order-status-text {
        font-size: 13px;
    }
}

@media screen and (max-width:450px) {
    #order-main-container {
        margin: 35% 0 2% 0;
    }    

    #modal-container-order-details {
        width: 96%;
    }

    #order-details-title {
        font-size: 26px;
    }
    .pre-info-order-details-modal {
        font-size: 14px;
    }

    .item-name-in-order-details-headers{
        min-width: 40%;
        max-width: 40%;
    }
    .item-name-in-order-details-data{
        min-width: 40%;
        max-width: 40%;
    }
    .lower-item-name-order-details {
        max-width: 65%;
        min-width: 65%;
    }

    #order-status-svg-container {
        width: 100%;
    }
    .order-status-text {
        font-size: 12px;
    }
    .order-again-button {
        width: 45%;
    }
}