#modal-loading {
    width: 25%;
    margin: 8% auto;
    background-color: #ffffff;
    padding: 0.5%;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
}
#loading-icon {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}
.title-for-loading {
    color: #000000;
    font-size: 200%;
    text-align: center;
}

/* Make app responsive */
@media screen and (max-width: 680px) {
    .margin-below-company-icon {
        font-size: 50px;
        margin-top: 10%;
    }
}

@media screen and (max-width: 480px) {
    .margin-below-company-icon {
        font-size: 40px;
        margin-top: 45%;
    }
}

@media screen and (max-width: 380px) {
    .margin-below-company-icon {
        margin-top: 60%;
    }
}