#pick-items-component-container {
    background-color: #fdfdfd;
    overflow: auto;
    position: relative;
    min-height: 700px;
}

.title-for-pick-items {
    color: #000000;
    font-size: 130%;
    margin: 5px 0;
}

#filter-container {
    width: 60%;
    margin: 3% auto;
    margin-top: 5%;
    margin-left: 23%;
}
#select-product-type-container {
    margin: 3% auto;
    overflow: auto;
}
.service-categories-container {
    float: left;
    margin-right:4%;
    cursor: pointer;
    transition: 0.4;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
}
.service-categories-container:hover {
    background-color: #45a470 !important;
}
.service-categories-icon-container {
    height: 75px;
    width: 75px;
    margin: 0 auto;
}
.service-categories-icon-image {
    height: 100%;
    width: 100%;
}
.service-categories-title-text {
    display: block;
    text-align: center;
}





#pick-vendor-filter {
    text-align: center;
}
.vendor-name-entry {
    width: 100%;
    border: none;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    height: 25px;
    font-size: 14px;
    padding: 5px;
    font-family: 'Abel', sans-serif !important;
    color: #000000;
}
#filter-vendor-list-button, #clear-filter-vendor-list-button {
    display: inline-block;
    margin: 0 auto;
    margin-top: 2%;
    margin-right: 2%;
    background-color: #ffd633;
}




#title-for-product-vendors {
    color: #000000;
    font-size: 200%;
    padding-left: 0.5%;
}
#product-vendors-container-stores-list {
    overflow: auto;
    background-color: #f3f3f3;
    padding: 1% 0.5%;
    min-height: 300px;
}
#no-sellers-available {
    text-align: center;
}
.product-vendor-each {
    width: 23.2%;
    height: 250px;
    float: left;
    margin: 0.5%;
    overflow: hidden;
    background-color: #e6e6e6;
    padding: 0.4%;
    border-radius: 5px;
    transition: 0.3s;
    position: relative;
}
.product-vendor-each:hover {
    background-color: #cecece; 
}
.currenty-closed-overlay {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    font-size: 200%;
    padding-top: 25%;
    z-index: 1;
}
.product-vendor-image-container {
    width: 98%;
    height: 160px;
    margin: 0 auto;
    overflow: hidden;
}
.product-vendor-image {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    position: relative;
}
.product-vendor-logo-container {
    width: 110px;
    overflow: hidden;
    float: right;
    float: left;
    margin-left: 1%;
    margin-top: 10px;
}
.product-vendor-logo {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    position: relative;
}
.product-vendor-title {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 8%;
    float: left;
    margin-top: 18px;
}
.product-vendor-ratings {
    font-size: 22px;
    float: right;
    margin-right: 1%;
    margin-top: 10px;
}
.star-icon {
    color: #ffbf00;
    font-size: 30px;
    margin-top: 5px;
}






/* make app responsive */
@media screen and (max-width:1500px) {
    #filter-container {
        margin-top: 8%;
    }


    .product-vendor-each {
        width: 31.4%;
        padding: 0.5% 0.4%;
        border-radius: 4px;
    }
}


@media screen and (max-width:1300px) {
    #filter-container {
        margin-top: 10%;
    }

    .service-categories-icon-container {
        height: 60px;
        width: 60px;
    }
}

@media screen and (max-width:1100px) {
    #filter-container {
        margin-top: 13%;
    }
    .product-vendor-each {
        width: 31.4%;
        height: 210px;
    }
    .product-vendor-image-container {
        width: 98%;
        height: 140px;
    }
    .product-vendor-logo-container {
        width: 100px;
    }
    .product-vendor-title {
        font-size: 18px;
        margin-left: 13%;
    }
    .product-vendor-ratings {
        font-size: 20px;
    }
    .star-icon {
        font-size: 20px;
        margin-top: 2px;
    }
}

@media screen and (max-width:1000px) {
    #filter-container {
        margin-top: 17%;
        width: 70%;
        margin-left: 18%;
    }
    .service-categories-icon-container {
        height: 55px;
        width: 55px;
    }
    #filter-vendor-list-button, #clear-filter-vendor-list-button {
        padding: 8px 18px;
    }

    .product-vendor-each {
        width: 47.9%;
        height: 190px;
    }
    .currenty-closed-overlay {
        padding-top: 18%;
    }
    .product-vendor-title {
        font-size: 18px;
        margin-left: 18%;
    }
}

@media screen and (max-width: 860px) {
    #filter-container {
        margin-top: 22%;
        width: 72%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 740px) {
    #filter-container {
        margin-top: 25%;
        width: 72%;
        margin-left: 15%;
    }

    .product-vendor-logo-container {
        width: 90px;
    }
    .product-vendor-title {
        font-size: 15px;
        margin-left: 14.5%;
    }    
    .product-vendor-ratings {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {
    #filter-container {
        margin-top: 26%;
        width: 80%;
        margin-left: 10%;
    }

    .product-vendor-each {
        width: 47.9%;
        height: 175px;
    }
    .product-vendor-image-container {
        width: 98%;
        height: 120px;
    }
}

@media screen and (max-width: 550px) {
    #filter-container {
        margin-top: 30%;
        width: 92%;
        margin-left: 2.8%;
    }

    .product-vendor-each {
        width: 47.9%;
        height: 175px;
    }
    .product-vendor-image-container {
        width: 98%;
        height: 120px;
    }
}


@media screen and (max-width: 540px) {
    .service-categories-container {
        float: left;
        margin-right: 1.5%;
        cursor: pointer;
        transition: 0.4;
        text-align: center;
        padding: 12px;
        border-radius: 4px;
    }
    .service-categories-icon-container {
        height: 50px;
        width: 50px;
    }

    .product-vendor-each {
        width: 98%;
        height: auto;
        padding: 1.2% 0.5% 1.5% 0.5%;
        margin-bottom: 1%;
    }
    .product-vendor-image-container {
        width: 98%;
        height: 180px;
    }
    .product-vendor-logo-container {
        width: 95px;
    }
    .product-vendor-title {
        font-size: 16px;
        margin-left: 24%;
    }  

    #product-vendors-container-stores-list {
        min-height: 580px;
    }

    #product-vendor-footer {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #filter-container {
        margin-top: 30%;
        width: 93%;
        margin-left: 1.5%;
    }
    #filter-vendor-list-button, #clear-filter-vendor-list-button {
        padding: 5px 12px;
        font-size: 14px;
    }
    #select-product-type-container {
        position: fixed;
        padding: 1.5% 0 1.5% 1%;
        bottom: 0;
        margin: 0;
        left: 0;
        right: 0;
        z-index: 5;
        background-color: #ffffff;
        width: 100%;
        border-top: 2px solid black;
    }
    .title-for-pick-items {
        display: none;
    }
    .service-categories-container {
        margin-right: 1%;
        padding: 8px;
        border-radius: 3px;
    }
    .service-categories-icon-container {
        height: 30px;
        width: 30px;
    }
    .service-categories-title-text {
        margin-top: 2px;
        font-size: 12px;
    }

    #product-vendors-container {
        margin-bottom: 70px;
    }
}


@media screen and (max-width: 400px) {
    #filter-container {
        margin-top: 35%;
    }

    #product-vendors-container {
        margin-bottom: 75px;
    }
}
