#pick-product-alpha-container {
    width: 62%;
    overflow: auto;
    margin: 0 auto;
    padding: 2% 0%;
    background-color: #f9f9f9;
    color: #000000;
}

#the-help-company-logo {
    height: 200px;
    width: 250px;
    left: 0;
    top: 0;
    position: absolute;
}





.modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: 3;
    overflow: auto;
}
#modal-container {
    width: 30%;
    margin: 2% auto;
    margin-bottom: 0;
    background-color: #ffffff;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 5px;
    overflow: auto;
}
#close-modal {
    color: #000000;
    float: right;
    font-size: 150%;
    transition: 0.3;
    cursor: pointer;
    padding-bottom: 2%;
}
#close-modal:hover {
    color: #373737;
}
#modal-product-name {
    font-size: 22px;
    font-weight: bolder;
    display: inline;
}
#modal-product-name-price {
    font-size: 18px;
    float: right;
    font-weight: bolder;
}
#modal-product-description {
    margin: 2% 0;
}
#modal-product-amount {
    font-weight: bolder;
    margin-top:  3%;
} 
#modal-product-special-instruction {
    font-weight: bolder;
    margin-top:  3%;
}
#special-instructions {
    height: 40px !important;
    resize: none;
    font-size: 14px;
    border: 1px solid #222222 !important;
}
#addons-group-container {
    overflow: auto;
    padding: 10px 0;
}
.single-addon-group-select-container {
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-bottom: 2.5%;
    padding: 2% 1% 1% 1%;
}
.addon-group-title {
    font-weight: bolder;
}
.addon-group-info {
    font-size: 14px;
}
.radio-buttons-addons, .checkbox-addons {
    font-size: 15px;
}
.addons-price {
    font-size: 11px;
}
#input-amount-of-items-i-want {
    border-radius: 3px;
    border: 1px solid #595959
}
#verify-order-button {
    background-color: #F7C544;
}



#more-info-modal-title {
    font-size: 20px;
}
#more-info-modal-location {
    padding: 1% 0;
}
#more-info-modal-description {
    padding: 1% 0;
}
#more-info-modal-ratings {
    padding: 1% 0;
}
.star-icon-more-info-modal {
    color: #ffbf00;
    font-size: 15px;
    margin-top: 10px;
}


#items-in-cart-alpha-container {
    overflow: auto;
}
.single-item-in-cart-container {
    overflow: auto;
    width: 100%;
}
.product-data-in-cart-row {
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
}
.product-data-in-cart-row:hover {
    background-color: rgba(0,0,0,0.1);
}
.item-name-in-modal {
    max-width: 45%;
    min-width: 45%;
    float: left;
    margin: 1%;
}
.product-addons-data-in-cart {
    font-size: 13px;
}
.single-product-addons-data-in-cart {
    color: #828282;
    text-transform: capitalize;
}
.special-instructions-in-cart {
    color: #555555;
    font-size: 13px;
}
.item-amount-in-modal {
    max-width: 15%;
    min-width: 15%;
    float: left;
    margin: 1%;
}
.item-price-in-modal {
    max-width: 20%;
    min-width: 20%;
    float: left;
    margin: 1%;
}
.item-remove-in-modal {
    max-width: 10%;
    min-width: 10%;
    float: left;
    margin: 1%;
    text-align: right;
    z-index: 2;
}
.item-remove-in-modal-content {
    text-align: center;
    max-width: 10%;
    min-width: 10%;
    float: left;
    margin: 1%;
    transition: 0.4s;
    cursor: pointer;
    color: #7e7e7e;
    border: 1px solid #7e7e7e;
    border-radius: 4px;
}
.item-remove-in-modal-content:hover {
    color: #F7C544;
}
#items-in-the-cart-container {
    min-height: 200px;
}
#no-items-available-in-cart-text {
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
}
.lower-item-name {
    max-width: 71%;
    min-width: 71%;
    float: left;
    text-align: right;
    margin: 1%;
}
.lower-item-value {
    max-width: 22%;
    min-width: 22%;
    float: left;
    text-align: right;
    margin: 1%;
}
.proceed-to-payment-button {
    background-color: #F7C544;
    margin-top: 5%;
}
#proceed-to-payment-button-container {
    width: 100%;
    text-align: center;
    overflow: auto;
}




#cart-goback-icons-container {
    position: fixed;
    right: 5%;
    top: 4%;
    z-index: 1;
    font-size: 200%;
    transition: 0.3; 
    cursor: pointer;
}
.cart-goback-icons {
    color: #F7C544;
    transition: 0.4s;
}
.cart-goback-icons:hover {
    color:#45a470;
}
.icon-1 {
    margin-right: 10px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }




#vendor-logo {
    height: 35%;
    width: 18%;
    margin: 2%;
}
.title-for-product-vendor {
    color: #000000;
    font-size: 210%;
    padding: 0;
    margin: 0;
    margin-top: 5%;
    padding-left: 2%;
    background-color:rgba(255, 255, 255, 0.6);
}
#more-info-icon {
    font-size: 60%;
    margin-left: 1%;
    cursor: pointer;
    transition: 0.3s;
}
#more-info-icon:hover {
    color: rgb(244, 197, 79);
}
.vendor-ratings {
    font-size: 60%;
    float: right;
    margin-right: 1%;
}
.vendor-ratings > .star-icon{
    font-size: 130%;
    margin-top: 12%;
}





#pick-your-items-title {
    color: #000000;
    font-size: 230%;
    padding-left: 1.5%;
    margin: 4% 0 0.5% 0;

}
.product-list-container-single {
    background-color: #ebebeb;
    margin: 0.5% 1% 1% 1.5%;
    border-radius: 3px;
    padding: 1%;
    overflow: auto;
    position: relative;
}
.out-of-stock-overlay {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
    font-size: 200%;
    padding-top: 4%;
}
.product-name {
    font-size: 22px;
    font-weight: bolder;
    display: inline;
}
.product-price {
    font-size: 18px;
    float: right;
    font-weight: bolder;
}
.product-description {
    margin-top: 1%;
    font-size: 15px;
}
.add-to-cart-button {
    float: right;
    background-color: #F7C544;
}




/* make platform responsive */
@media screen and (max-width:1350px) {
    #pick-product-alpha-container  {
        width: 70%;
        overflow: auto;
        margin: 0 10% 0 18%;
        padding: 2% 0%;
        background-color: #f9f9f9;
        color: #000000;
    }

    #modal-container {
        width: 40%;
        margin: 2% auto;
        padding: 1% 1% 1% 1%;
    }
}

@media screen and (max-width:1150px) {
    #pick-product-alpha-container  {
        width: 70%;
        overflow: auto;
        margin: 0 10% 0 17%;
        padding: 2% 0% 2% 0%;
        background-color: #f9f9f9;
        color: #000000;
    }

    .pick-products-company-logo {
        height: 120px !important;
        width: 130px !important;
    }

    #cart-goback-icons-container {
        position: fixed;
        right: 5%;
        font-size: 170%;
    }

    #modal-container {
        width: 50%;
        margin: 2% auto;
        padding: 1% 1% 1% 1%;
    }
}


@media screen and (max-width:1080px) {
    #pick-product-alpha-container  {
        width: 76%;
        overflow: auto;
        margin: 0 10% 0 12%;
        padding: 2% 0% 2% 0%;
    }

    .pick-products-company-logo {
        height: 75px !important;
        width: 85px !important;
    }

    #cart-goback-icons-container {
        position: fixed;
        right: 5.5%;
        top: 4.4%;
        font-size: 140%;
    }
}

@media screen and (max-width:950px) {
    .title-for-product-vendor {
        font-size: 200%;
    }

    #modal-container {
        width: 60%;
        margin: 2% auto;
        padding: 1% 1.2% 1% 1.2%;
    } 

    #pick-your-items-title {
        font-size: 180%;
    }

    .product-name{  
        font-size: 18px;
    }
    .product-description {
        font-size: 14px;
    }
    .add-to-cart-button {
        font-size: 14px !important;
        padding: 8px 15px !important;
        margin-top: 1%;
    }
}

@media screen and (max-width:880px) {
    #pick-product-alpha-container  {
        width: 100%;
        margin: 13% 0% 0 0;
        padding: 0% 0% 2% 0%;
    }

    #cart-goback-icons-container {
        right: 6.6%;
        font-size: 150%;
    }
}

@media screen and (max-width:760px) {
    #pick-product-alpha-container  {
        width: 100%;
        margin: 15% 0% 0 0;
        padding: 0% 0% 2% 0%;
    }

    #cart-goback-icons-container {
        right: 7%;
        font-size: 150%;
    }

    #modal-container {
        width: 70%;
        margin: 2% auto;
        padding: 1% 1.5% 1% 1.5%;
    } 
}

@media screen and (max-width:680px) {
    #pick-product-alpha-container  {
        width: 100%;
        margin: 18% 0% 0 0;
        padding: 0% 0% 2% 0%;
    }

    #cart-goback-icons-container {
        right: 8%;
        font-size: 150%;
    }

    #modal-container {
        width: 75%;
        margin: 2% auto;
        padding: 1% 1.5% 1% 1.5%;
    } 
}

@media screen and (max-width:600px) {
    #pick-product-alpha-container  {
        width: 100%;
        margin: 20% 0% 0 0;
        padding: 0% 0% 2% 0%;
    }

    #cart-goback-icons-container {
        right: 8%;
        font-size: 150%;
    }

    #modal-container {
        width: 80%;
        margin: 2% auto;
        padding: 1% 1.5% 1% 1.5%;
    } 
}

@media screen and (max-width:510px) {
    #pick-product-alpha-container  {
        width: 100%;
        margin: 23% 0% 0 0;
    }

    #cart-goback-icons-container {
        right: 8%;
        font-size: 150%;
    }

    #modal-container {
        width: 85%;
        margin: 2% auto;
        padding: 1% 1.5% 1% 1.5%;
    } 

    .product-list-container-single {
        background-color: #ebebeb;
        margin: 0.5% 1% 1.5% 1.5%;
    }
}

@media screen and (max-width:460px) {
    #modal-container {
        width: 90%;
        margin: 2% auto;
        padding: 1% 1.5% 1% 1.5%;
    } 
}

@media screen and (max-width:450px) {
    #pick-product-alpha-container  {
        width: 100%;
        margin: 25% 0% 0 0;
    }

    #cart-goback-icons-container {
        right: 9.5%;
        font-size: 160%;
        top: 4%;
    }

    #modal-container {
        width: 95%;
        margin: 2% auto;
        padding: 1% 1% 1% 1%;
    } 

    .pick-products-company-logo {
        height: 65px !important;
        width: 75px !important;
        margin-left: 8px !important;
    }

    .product-list-container-single {
        background-color: #ebebeb;
        margin: 0.5% 1% 2% 1.5%;
        padding: 1.5%;
    }
}

@media screen and (max-width:400px) {
    #pick-product-alpha-container  {
        width: 100%;
        margin: 27% 0% 0 0;
    }

    #cart-goback-icons-container {
        right: 10%;
        font-size: 160%;
        top: 4%;
    }

    #modal-container {
        width: 96%;
        margin: 2% auto;
        padding: 1% 1% 1% 1%;
    } 
    .item-name-in-modal {
        max-width: 38% !important;
        min-width: 38% !important;
        font-size: 15px !important;
    }
    .item-amount-in-modal {
        max-width: 14% !important;
        min-width: 14% !important;
        font-size: 15px !important;
    }
    .item-price-in-modal {
        max-width: 20%;
        min-width: 20%;
        font-size: 15px !important;
    }
    .item-remove-in-modal {
        max-width: 8.8% !important;
        min-width: 8.8% !important;
        font-size: 15px !important;
        
    }
    .item-remove-in-modal-content {
        max-width: 8.8% !important;
        min-width: 8.8% !important;
    }

    .pick-products-company-logo {
        height: 60px !important;
        width: 70px !important;
    }

    .product-list-container-single {
        background-color: #ebebeb;
        margin: 0.5% 1% 2% 1.5%;
        padding: 1.5%;
    }
}