#container-profile-page {
    min-height: 500px;
    padding-bottom: 1%;
}
#some-space-above {
    min-height: 500px;
    padding-bottom: 1%;
}

.title-for-edit-profile {
    margin-top: 14%;
    text-align: center;
    font-size: 30px;
}




#user-details-section {
    width: 92.8%;
    overflow: auto;
    margin: 0 auto;
    margin-top: 1%;
    background-color: #f5f5f5;
    padding: 2% 2% 1% 2%;
    border-radius: 5px;
    margin-bottom: 3%;
}
.sub-section-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1.5%;
}
#eye-icons-container {
    float: right;
}
.eye-icons {
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}
.eye-icons:hover {
    color:#747474;
}
#update-user-details-button {
    margin: 0 auto;
    margin-top: 2%;
    margin-right: 2%;
    background-color: #ffd633;
}
#change-password-button {
    margin: 0 auto;
    margin-top: 2%;
    margin-right: 2%;
    background-color: #ffd633;
}




#payment-info-profile-page-section {
    width: 92.8%;
    overflow: auto;
    margin: 0 auto;
    margin-top: 1%;
    background-color: #f5f5f5;
    padding: 2% 2% 1% 2%;
    border-radius: 5px;
    margin-bottom: 3%;
}
.sub-section-title-payment {
    font-weight: bold;
    font-size: 20px;
}
.sub-sub-info {
    font-size: 15px;
}
#open-close-add-new-card-container {
    background-color: #f5f5f5;
}
.open-close-add-new-card-icon {
    background-color: #f5f5f5;
    color: #000000;
    float: right;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
}
.open-close-add-new-card-icon:hover {
    color: #595959;
}
#saved-cards-container {
    margin-top: 1%;
}
#saved-cards {
    height: 200px;
    margin-top: 0.2%;
    background-color: #f0f0f0;
    border-radius: 3px;
    overflow-y: scroll;
}
.single-saved-card-container {
    width: 30%;
    margin: 0.8% 0.6% 0% 0.6%;
    display: inline-block;
    padding: 1%;
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
}
.delete-icon-single-card {
    float: right;
    margin-bottom: 1%;
    cursor: pointer;
    transition: 0.3s;
}
.delete-icon-single-card:hover {
    color: #595959;
}
.card-number-single-card {
    margin-top: 1.5%;
}
.card-type-single-card {
    border: 2px solid #2638A1;
    padding: 1% 2%;
    float: right;
    border-radius: 3px;
}




#add-new-card-modal-container {
    font-size: 23px;
}
.times-or-check-icons {
    display: block;
    margin: 0 auto;
    font-size: 40px;
    margin-bottom: 4%;
}
#new-cards-container {
    width: 100%;
    margin-top: 3%;
    padding-right: 1%;
}
#new-cards {
    margin-top: 0.2%;
    background-color: #f0f0f0;
    padding: 2.5%;
    border-radius: 3px;
}
.radio-buttons-card-type-profile {
    float: left;
    width: 30%;
}
.radio-buttons-card-type-profile > input {
    margin: 0;
}
#master-card-profile {
    margin-bottom: 5%;
}
.payment-details-input-profile {
    width: 100%;
    margin-bottom: 0.5%;
    border: none;
    border: 2px solid #a7a7a7;
    border-radius: 3px;
    height: 24px;
    font-size: 16px;
    display: block;
}






#drivers-details-section {
    width: 92.8%;
    overflow: auto;
    margin: 0 auto;
    margin-top: 1%;
    background-color: #f5f5f5;
    padding: 2% 2% 1% 2%;
    border-radius: 5px;
    margin-bottom: 3%;
}







#store-details-section {
    width: 92.8%;
    overflow: auto;
    margin: 0 auto;
    margin-top: 1%;
    background-color: #f5f5f5;
    padding: 2% 2% 1% 2%;
    border-radius: 5px;
    margin-bottom: 3%;
}








/* Make app responsive */
@media screen and (max-width:1200px) {
    .title-for-edit-profile {
        margin-top: 16%;
        font-size: 28px;
    }
}

@media screen and (max-width:950px) {
    .title-for-edit-profile {
        margin-top: 20%;
        font-size: 25px;
    }
}

@media screen and (max-width:750px) {
    .title-for-edit-profile {
        margin-top: 23%;
        font-size: 23px;
    }
}

@media screen and (max-width:695px) {
    .title-for-edit-profile {
        margin-top: 23%;
        font-size: 23px;
    }

    #update-user-details-button {
        margin-right: 1.5%;
        font-size: 14px;
    }
    #change-password-button {
        margin-right: 1.5%;
        font-size: 14px;
    }

    .single-saved-card-container {
        width: 46%;
        margin: 0.8% 1% 0% 1%;
    }
}


@media screen and (max-width:615px) {
    .title-for-edit-profile {
        margin-top: 24%;
        font-size: 25px;
    }
    #update-user-details-button {
        margin-right: 1.5%;
        font-size: 14px;
        width: 48.5%;
    }
    #change-password-button {
        margin-right: 1.5%;
        font-size: 14px;
        width: 48.5%;
    }
}


@media screen and (max-width:500px) {    
    #saved-cards {
        padding-top: 1.1%;
    }
    .single-saved-card-container {
        width: 92.5%;
        margin: 0.8% 1% 0% 1.5%;
        padding: 1.5%;
    }
}


@media screen and (max-width:405px) {   
    .title-for-edit-profile {
        margin-top: 29%;
        font-size: 24px;
    }
    #update-user-details-button {
        font-size: 14px;
        width: 99%;
    }
    #change-password-button {
        font-size: 14px;
        width: 99%;
    } 
}