#alpha-sign-up-container {
    overflow: auto;
}



#modal-background-2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: 3;
    overflow: auto;
} 



.account-type-container {
    width: 27%;
    height: 400px;
    background-color: #f0f0f0;
    padding: 2% 1%;
    margin: 20% 2.1% 8% 2.1%;
    float: left;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.account-type-container:hover {
    background: rgba(240, 240, 240, 0.5); 
}
.account-type-icon-container {
    width: 30%;
    margin: 0 auto;
    overflow: hidden;
}
.account-type-icon {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    position: relative;
}
.account-type-name {
    width: 100%;
    overflow: auto;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}
.account-type-discription {
    width: 80%;
    margin: 10% auto;
}





#entries-all-container {
    margin-top: 15%;
    overflow: auto;
}
#go-back-to-account-types {
    display: block;
    margin: 0 auto;
    margin: 2% auto;
    background-color: #ffd633;
}




#entries-for-orderer {
    width: 40%;
    margin: 0 auto;
}
#sign-up-container {
    float: left;
}
#verify-account-container {
    float: right;
}
#radio-buttons {
    margin-top: 1%;
    overflow: auto;
}
#sign-up-container-lower {
    width: 100%;
    clear: both;
}
#verify-account-container-lower {
    width: 100%;
    margin-top: 6%;
    clear: both;
}
#sign-up-button-account-create {
    display: block;
    margin: 3% auto;
    background-color: #ffd633;
}

#verify-account-button-account-create, #new-code-request-verify-account {
    display: inline;
    margin: 3% 1%;
    background-color: #ffd633;
}




#entries-for-driver {
    width: 40%;
    margin: 0 auto;
}
#submit-driver-info-container {
    width: 100%;
    clear: both;
    margin-top: 6%;
    text-align: center;
}
#submit-driver-info-button {
    background-color: #ffd633;
    margin: 3% 0;
}


.sign-up-modal-container {
    width: 40% !important;
}
#post-sign-up-modal-container {
    margin-top: 10%;
    overflow: auto;
    font-size: 25px;
    text-align: center;
    font-weight: bolder;
}
#entries-for-vendor {
    width: 40%;
    margin: 0 auto;
}
#text-description-input {
    height: 100px !important;
    resize: none;
    font-family: 'Abel', sans-serif !important;
}
#aggrement-text {
    background-color: #f0f0f0;
    padding: 2%;
    overflow: auto;
    border-radius: 3px;
}
#i-agree-checkbox-container {
    float: right;
    margin-top: 5%;
}   
#submit-vendor-info {
    background-color: #ffd633;
    margin: 3% 0;
}





/* make app responsive*/
@media screen and (max-width:1200px) {
    .account-type-container {
        width: 27%;
        height: 350px;
        margin-top: 25%;
    }
}

@media screen and (max-width:1000px) {
    .account-type-container {
        width: 28.5%;
        height: 350px;
        background-color: #f0f0f0;
        padding: 2% 1%;
        margin: 28% 1% 12% 1.5%;
    }

    #entries-for-orderer {
        width: 60%;
        margin-top: 5%;
    }
    .all-accounts-sign-up-details-icon-container {
        width: 20%;
    }
}

@media screen and (max-width:900px) {
    .sign-up-modal-container {
        width: 55% !important;
    }
    
    .account-type-container {
        margin: 30% 1.3% 10% 1.2%;
    }
    .account-type-discription {
        width: 90%;
        margin: 10% auto;
    }


    #entries-for-orderer, #entries-for-driver, #entries-for-vendor {
        width: 65%;
        margin-top: 9%;
    }
    .all-accounts-sign-up-details-icon-container {
        width: 20%;
    }
}

@media screen and (max-width:850px) {
    .sign-up-modal-container {
        width: 55% !important;
    }
    
    .account-type-discription {
        width: 90%;
        margin: 10% auto;
    }
}

@media screen and (max-width:830px) {
    #type-of-accounts {
        margin-top: 30%;
    }
    .account-type-container {
        width: 94%;
        height: auto;
        padding: 3% 1% 1% 1%;
        margin: 2% 2%;
        float: none;
        overflow: auto;
    }
    .account-type-icon-container {
        width: 12%;
    }
    .account-type-name {
        font-size: 25px;
        margin-top: 10px;
    }
    .account-type-discription {
        width: 80%;
        margin: 5% auto;
    }

    #go-back-to-account-types {
        margin-top: 8%;
    }

    #entries-for-orderer, #entries-for-driver, #entries-for-vendor {
        width: 65%;
        margin-top: 5%;
        min-height: 450px;
    }
    .all-accounts-sign-up-details-icon-container {
        width: 20%;
    }
}

@media screen and (max-width:700px) {
    .sign-up-modal-container {
        width: 65% !important;
    }

    #go-back-to-account-types {
        margin-top: 10%;
    }

    #entries-for-orderer, #entries-for-driver, #entries-for-vendor {
        width: 70%;
    }  
}

@media screen and (max-width:600px) {
    .sign-up-modal-container {
        width: 79% !important;
    }    
    
    #type-of-accounts {
        margin-top: 37%;
    }
    .account-type-container {
        width: 92.5%;
        padding: 3% 1% 1% 1%;
        margin: 4% 2%;
    }

    #go-back-to-account-types {
        margin-top: 15%;
    }

    #entries-for-orderer, #entries-for-driver, #entries-for-vendor {
        width: 75%;
    }
} 

@media screen and (max-width:500px) {
    .sign-up-modal-container {
        width: 90% !important;
    }

    .account-type-container {
        border-radius: 5px;
    }

    #go-back-to-account-types {
        margin-top: 20%;
    }

    #entries-for-orderer, #entries-for-driver, #entries-for-vendor {
        width: 80%;
    }
}

@media screen and (max-width:400px) {
    .sign-up-modal-container {
        width: 94% !important;
    }

    #go-back-to-account-types {
        margin-top: 27%;
    }

    #entries-for-orderer, #entries-for-driver, #entries-for-vendor {
        width: 94%;
    }
}