#alpha-sign-in-container {
    overflow: auto;
    
}

#sign-in-container {
    width: 50%;
    margin: 0 auto;
    min-height: 500px;
    margin-top: 20%;
}

#sign-in-button-sign-in-page {
    margin-top: 8%;
    background-color: #ffd633;
}
#forgot-password-button-sign-in-page {
    margin-left: 2%;
    background-color: #ffd633;
}

#change-password-modal {
    margin-bottom: 10px;
}







/* make app responsive */
@media screen and (max-width:1050px) {
    #sign-in-container {
        width: 50%;
        margin: 0 auto;
        min-height: 500px;
        margin-top: 25%;
    }
}

@media screen and (max-width:900px) {
    #sign-in-container {
        width: 50%;
        margin: 0 auto;
        min-height: 500px;
        margin-top: 30%;
    }
}

@media screen and (max-width:800px) {
    #sign-in-container {
        width: 65%;
        margin-top: 35%;
    }
}

@media screen and (max-width:600px) {
    #sign-in-container {
        width: 75%;
        margin-top: 40%;
        min-height: 450px;
    }
}

@media screen and (max-width:500px) {
    #sign-in-container {
        width: 80%;
        margin-top: 45%;
    }
}


@media screen and (max-width:400px) {
    #sign-in-container {
        width: 86%;
        margin-top: 50%;
    }
}