#alpha-container-all-orders {
    padding: 1%;
    background-color: #fcfcfc;
    overflow: auto;
    position: relative;
}




.date-entries-filter {
    width: 50%;
    border: none;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    height: 25px;
    font-size: 14px;
    padding: 5px;
    font-family: 'Abel', sans-serif !important;
    color: #000000;
}
#start-date-filter {
    margin-bottom: 0.8%;
}
#filter-button {
    background-color: #ffd633;
    margin-left: 20px;
    padding: 6px 20px;
}
#clear-filter-button {
    background-color: #ffd633;
    margin-left: 20px;
    padding: 6px 20px;
}






#all-orders-list {
    margin-top: 3%;
    min-height: 600px;
    overflow-y: scroll;
    width: 100%;
}
.vendor-single-order-item {
    background-color: #f3f3f3;
    margin: 1.2% 0;
    border-radius: 3px;
    padding: 1%;
    overflow: auto;
    padding: 1.5%;
    cursor: pointer;
}
.vendor-single-order-item:hover{
    background-color: #e9e9e9;
}
.vendor-product-vendor-name-single-order {
    font-size: 20px;
    font-weight: bold;
}
.vendor-order-info-single-order {
    font-size: 17px;
    margin-top: 10px;
}
.vendor-price-single-order {
    float: right;
}
#no-items-available-in-list-vendor-order {
    font-weight: bolder;
    text-align: center;
    padding-top: 180px;
    min-height: 350px;
    font-size: 18px;
    background-color: #fffefe;
    border-radius: 4px;
}
.date-single-order {
    float: right;
    margin-right: 2%;
}






.more-info-item-name-in-order-details-headers{
    min-width: 45%;
    max-width: 45%;
    display: inline-block;
    margin: 0 1%;
    padding-left: 1%;
}
.more-info-item-amount-in-order-details-headers {
    min-width: 22%;
    max-width: 22%;
    display: inline-block;
    margin: 0 1%;
}
.more-info-item-price-in-order-details-headers {
    min-width: 25%;
    max-width: 25%;
    display: inline-block;
    margin: 0 1%;
    text-align: right;
}
.more-info-item-name-in-order-details-data{
    min-width: 45%;
    max-width: 45%;
    margin: 0 1%;
    display: inline-block;
    padding-left: 1%;
}
.more-info-item-amount-in-order-details-data {
    min-width: 22%;
    max-width: 22%;
    margin: 0 1%;
    display: inline-block;
}
.more-info-item-price-in-order-details-data {
    min-width: 25%;
    max-width: 25%;
    margin: 0 1%;
    display: inline-block;
    text-align: right;
}





/* Make app responsive */
@media screen and (max-width: 800px) {
    .title-all-order {
        font-size: 25px !important;
    }

    .date-entries-filter {
        width: 60%;
    }
    #filter-button {
        padding: 5px 15px;
        font-size: 14px;
    }
    #clear-filter-button {
        padding: 5px 15px;
    }
}

@media screen and (max-width: 750px) {
    #vendors-info {
        margin-top: 3%;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    #all-orders-list {
        margin-bottom: 120px !important;
    }
    .vendor-single-order-item {
        font-size: 13px;
    }
}