#new-order-alpha-container {
    height: auto;
    background-color: #fcfcfc;
    overflow: auto;
}



#new-order-title, #new-orders-filter-container {
    margin: 2% 1.5%;
}
#product-name-in-filter {
    margin-top: 1%;
    display: block;
}



#all-pending-orders {
    min-height: 600px;
    max-height: 600px;
    overflow-y: scroll;
}
#no-new-order-available {
    text-align: center;
    padding-top: 200px;
    font-weight: bold;
    color: black;
}
.single-new-order {
    background-color: #f3f3f3;
    border-radius: 3px;
    overflow: auto;
    padding: 1%;
    width: 95%;
    margin: 1% auto;
}
.new-order-header-item-name {
    min-width: 45%;
    max-width: 45%;
    display: inline-block;
    margin: 0 1%;
    padding-left: 1%;
}
.new-order-value-item-name {
    min-width: 45%;
    max-width: 45%;
    margin: 0 1%;
    float: left;
    padding-left: 1%;
}
.new-order-header-item-amount {
    min-width: 20%;
    max-width: 20%;
    display: inline-block;
    margin: 0 1%;
    padding-left: 1%;
}
.new-order-header-item-price {
    min-width: 25%;
    max-width: 25%;
    display: inline-block;
    margin: 0 1%;
    padding-left: 1%;
    text-align: center;
}
.lower-item-name-new-order {
    font-weight: bold;
    float: left;
    margin-left: 2%;
    margin-right: 0.5%;
}
.lower-item-value-new-order {
    margin-left: 2%;
}
.yes-we-have-the-item-button {
    background-color: #4acf6e;
    margin-top: 4%;
    margin-left: 2%;
    float: left;
}
.not-all-items-can-be-handled-buttom {
    background-color: #f0be67;
    margin-top: 4%;
    margin-right: 2%;
    float: right;
}
.no-we-dont-have-the-item-button {
    background-color: #ed323b;
    margin-top: 4%;
    margin-right: 2%;
    float: right;
}






@media screen and (max-width: 820px) {
    .yes-we-have-the-item-button {
        font-size: 14px !important;
        padding: 8px 15px !important;
    }
    .not-all-items-can-be-handled-buttom {
        font-size: 14px !important;
        padding: 8px 15px !important;
    }
    .no-we-dont-have-the-item-button {
        font-size: 14px !important;
        padding: 8px 15px !important;
    }
}

@media screen and (max-width: 800px) {
    #new-order-title {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 650px) {
    .yes-we-have-the-item-button {
        font-size: 13px !important;
        padding: 5px 10px !important;
    }
    .not-all-items-can-be-handled-buttom {
        font-size: 13px !important;
        padding: 5px 10px !important;
    }
    .no-we-dont-have-the-item-button {
        font-size: 13px !important;
        padding: 5px 10px !important;
    }
}

@media screen and (max-width: 550px) {
    .mini-important-information {
        font-size: 14px !important;
    }

    .yes-we-have-the-item-button {
        width: 30.55%;
        float: none;
    }
    .not-all-items-can-be-handled-buttom {
        width: 47%;
        float: none;
        margin-top: 2%;
    }
    .no-we-dont-have-the-item-button {
        width: 47%;
        float: none;
        margin-left: 2%;
        margin-top: 2%;
    }
}


@media screen and (max-width: 480px) {
    .product-name-entry {
        width: 96.5%;
    }

    .new-order-header-item-name, .new-order-value-item-name {
        min-width: 42%;
        max-width: 42%;
    }

    .new-order-header-item-amount {
        min-width: 20%;
        max-width: 20%;
    }
    .new-order-header-item-price {
        min-width: 25%;
        max-width: 25%;
    }

    #new-order-alpha-container {
        margin-bottom: 125px;
    }
}


@media screen and (max-width: 370px) {
    .mini-important-information {
        font-size: 13px !important;
    }

    .product-name-entry {
        width: 95.5%;
    }

    .new-order-header-item-name, .new-order-value-item-name {
        min-width: 42%;
        max-width: 42%;
    }

    .new-order-header-item-amount {
        min-width: 20%;
        max-width: 20%;
    }
    .new-order-header-item-price {
        min-width: 25%;
        max-width: 25%;
    }
}
