#modal-container-vendor-products {
    width: 60%;
    margin: 3% auto 3% auto;
    background-color: #ffffff;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 5px;
    overflow: auto;
}



#alpha-container-all-products {
    padding: 1% 2.5%;
    background-color: #fcfcfc;
    overflow: auto;
    position: relative;
}





.product-name-entry {
    width: 98.5%;
    border: none;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    height: 25px;
    font-size: 14px;
    padding: 5px;
    font-family: 'Abel', sans-serif !important;
    color: #000000;
}
#filter-option-list-container {
    width: 100%;
    padding: 5px 0;
    font-family: 'Abel', sans-serif !important;
}
.react-select__control {
    width: 100%;
    font-size: 14px;
    border-radius: 3px !important;
    margin-top: 10px;
    height: 25px;
}
.react-select__control--is-focused {
    border: none;
}
.react-select_input {
    border: none;
}
.react-select__option {
    background-color: #ffffff !important;
    color: #727272; 
}
.react-select__option:hover {
    background-color: #e2e2e2 !important;
}
.styled__control-is-focused {
    background-color: #e2e2e2 !important;
    box-shadow: "none";
}


#vendors-info {
    /* position: absolute;
    float: right;
    right: 5%; */
    color: #258e25;

    margin-top: 1%;
    margin-right: 0%;
    width: 100%;
    text-align: right;
}
#buttons-for-filter {
    margin-top: 1%;
    text-align: center;
}
#add-new-product-icon {
    float: right;
    font-size: 220%;
    color: #e1bd2c;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 0%;
    margin-top: 5px;
}
#add-new-product-icon:hover {
    color: #f7d031;
}
#no-product-available-in-list {
    height: 200px;
    text-align: center;
    margin-top: 200px;
}







#edit-product-modal {
    width: 90%;
    margin: 0 auto;
}
#edit-modal-title {
    color: #000000;
    font-size: 160%;
    text-align: center;
}
#buttons-product-modal {
    text-align: center;
    margin-top: 3%;
}
#product-description-textarea {
    resize: none;
    height: 100px;
}
#product-service-category-list-container {
    font-family: 'Abel', sans-serif !important;
}
.react-select-modal__control {
    width: 100.6%;
    font-size: 16px;
    border-radius: 3px !important;
    height: 24px;
}
.react-select-modal__value-container {
    padding: 0px !important;
}
.react-select-modal__control--is-focused {
    border: none;
}
.react-select-modal_input {
    border: none;
}
.react-select-modal__option {
    background-color: #ffffff !important;
    color: #727272; 
}
.react-select-modal__option:hover {
    background-color: #e2e2e2 !important;
}
.styled__control-is-focused {
    background-color: #e2e2e2 !important;
    box-shadow: "none";
}
#update-product-button, #delete-product-button, #out-of-stock-button, #in-stock-button {
    background-color: #ffd633;
    margin-left: 20px;
    padding: 6px 20px;
}
#create-product-button {
    background-color: #ffd633;
    margin-left: 20px;
    padding: 6px 20px;
}




#addons-modal-container {
    width: 100%;
    border-radius: 4px;
    overflow: auto;
    margin-top: 12px;
}
#addons-title {
    display: inline-block;
}
#open-add-new-addons-icon {
    float: right;
    font-size: 20px;
    padding: 3px;
    background-color: #ffffff;
    cursor: pointer;
    border-top: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
    border-left: 1px solid #f7f7f7;
}
#open-add-new-addons-icon:hover {
    background-color: #f2f2f2;
}
#container-for-all-addons-new-and-group {
    border: 1px solid #eeeeee;
    padding: 10px;
    clear: both;
}
#new-addons-container {
    background-color: #f7f7f7;
    padding: 1%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 10px;
}
.row-of-info{
    width: 100%;
}
.title-entries-addons {
    width: 40%;
    max-width: 40%;
    min-width: 40%;
    display: inline-block;
    text-align: left;
}
.input-entries-addons {
    width: 59%;
    max-width: 59%;
    min-width: 59%;
    border: none;
    border: 1px solid #a7a7a7;
    border-radius: 3px;
    height: 18px;
    font-size: 14px;
    font-family: 'Abel', sans-serif !important;
}
#new-add-ons-specifics {
    border-radius: 4px;
    padding: 1%;
    background-color: #ebebeb;
}
.left-names {
    width: 40%;
    max-width: 40%;
    min-width: 40%;
    display: inline-block;
    margin-right: 1%;
}
.right-prices {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    display: inline-block;
    margin-right: 1%;
}
.right-close {
    width: 8%;
    max-width: 8%;
    min-width: 8%;
    display: inline-block;
    text-align: center;
}
.input-entries-addons-names {
    width: 100%;
    border: none;
    border: 1px solid #a7a7a7;
    border-radius: 3px;
    height: 18px;
    font-size: 14px;
    font-family: 'Abel', sans-serif !important;
}
.input-entries-addons-price {
    width: 100%;
    border: none;
    border: 1px solid #a7a7a7;
    border-radius: 3px;
    height: 18px;
    font-size: 14px;
    font-family: 'Abel', sans-serif !important;
}
.input-entries-addons-clear {
    transition: 0.4s;
    cursor: pointer;
}
.input-entries-addons-clear:hover {
    color: #bfbdbd !important;
}
#add-new-addon-specifics-icon {
    transition: 0.3s;
    cursor: pointer;
}
#add-new-addon-specifics-icon:hover {
    color: #787878;
}



#all-addons-group {
    border-radius:  4px;
    height: 150px;
    background-color: #f7f7f7;
    overflow-y: scroll;
}
.single-addon-group-container {
    height: 50px;
    padding: 10px 7px;
    font-size: 14px;
    background-color: #ffffff;
    margin: 10px 10px;
}
.icons-single-addon-group-container {
    float: right;
    font-size: 16px !important;
}
.icons-single-addon-group {
    margin-left: 2px;
    cursor: pointer;
    color: #616161;
    transition: 0.1s;
}
.icons-single-addon-group:hover {
    color: #000000;
}



#modal-delete-group-addon-container {
    width: 25%;
    padding: 2% 1% 1% 1%;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 6%;
    border-radius: 5px;
}
#yes-to-delete-addon-button {
    display: inline;
    margin: 0 auto;
    background-color: #ff3347;
    margin-right: 2%;
}
#no-to-delete-addon-button {
    display: inline;
    margin: 0 auto;
    background-color: #31d046;
}


#all-products {
    margin-top: 3%;
    min-height: 800px;
    max-height: 800px;
    overflow-y: scroll;
}
.product-single-info-container {
    background-color: #f3f3f3;
    margin: 1.2% 2.12% 1.2% 0;
    border-radius: 3px;
    overflow: hidden;
    padding: 1.5%;
    cursor: pointer;
    height: 250px;
    width: 28.2%;
    transition: 0.2s;
    float: left;
}
.product-single-info-container:hover {
    background-color: #ebebeb;
}
.product-info-single-regular {
    margin-bottom: 5px;
}
.product-info-single-description {  
    margin-bottom: 5px;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}







/* Make app responsive */
@media screen and (max-width: 850px) {
    #modal-container-vendor-products {
        width: 80%;
    }
    #modal-delete-group-addon-container {
        width: 50%;
    }

    #buttons-for-filter {
        margin-top: 1%;
    }
    #add-new-product-icon {
        font-size: 180%;
        margin-right: 0%;
        margin-top: 5px;
    }

    #vendors-info {
        margin-top: 1%;
        margin-right: 0%;
        width: 100%;
        text-align: right;
    }
}

@media screen and (max-width: 700px) {
    #modal-container-vendor-products {
        width: 90%;
    }
    #modal-delete-group-addon-container {
        width: 60%;
    }

    .product-single-info-container {
        width: 44.2%;
    }
}


@media screen and (max-width: 600px) {
    #modal-delete-group-addon-container {
        width: 80%;
    }
    .react-select-modal__control {
        width: 100%;
    }

    .product-name-entry {
        width: 97%;
    }
    #filter-option-list-container {
        width: 99%;
    }
}



@media screen and (max-width: 520px) {
    #modal-container-vendor-products {
        height: 80vh;
        overflow: scroll;
    }
    #update-product-button, #delete-product-button, #out-of-stock-button, #in-stock-button {
        margin-left: 20px;
        padding: 4px 15px;
        font-size: 14px;
    }
    #create-product-button {
        margin-top: 20px;
    }
}


@media screen and (max-width: 480px) {
    #modal-container-vendor-products {
        width: 94%;
    }
    #modal-delete-group-addon-container {
        width: 90%;
    }

    #buttons-for-filter {
        margin-top: 2%;
    }
    #add-new-product-icon {
        font-size: 180%;
        margin-right: 1%;
        margin-top: 5px;
    }

    #vendors-info {
        width: 96%;
        padding: 2%;
    }

    #all-products {
        margin-top: 3%;
        min-height: 800px;
        overflow: auto;
        margin-bottom: 125px;
    }
    .product-single-info-container {
        width: 96%;
    }
}


@media screen and (max-width: 430px) {
    #update-product-button, #delete-product-button, #out-of-stock-button, #in-stock-button {
        width: 100%;
        margin: 1% 0;
        padding: 4px 15px;
        font-size: 14px;
    }
}