#modal-container-vendor {
    width: 60%;
    margin: 3% auto;
    background-color: #ffffff;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 5px;
    overflow: auto;
}
.container-for-payment-method-row {
    width: 100%;
    overflow: auto;
}
.container-for-payment-method-icons-row {
    width: 100%;
    overflow: auto;
}
.icon-payment-whole-div {
    float: left;
    width: 100px;
    margin-right: 40px;
    text-align: center;
    padding: 0.5% 0;
}
.icon-payment-div {
    border: 2px solid #F7C544;
    color: #45a470;
    border-radius: 4px;
    margin-bottom: 3px;
    transition: 0.3s;
    cursor: pointer;
}
.icon-payment-div:hover{
    color: #F7C544;
    background-color: #45a470; 
    border: 2px solid #45a470;
}
.icon-payment-actual-icon {
    font-size: 40px;
    padding: 10%;
    margin-top: 5px;
}
#send-me-driver-btn {
    margin-top: 2%;
    background-color: #F7C544;
}




#car-icon-vendor {
    color: #F7C544;
    position: fixed;
    right: 4.4%;
    top: 4%;
    z-index: 1;
    font-size: 200%;
    transition: 0.4s;
    cursor: pointer;
}
#car-icon-vendor:hover {
    color:#59d894;
    font-size: 205%;
    right: 4.35%;
}





#middle-section-of-page-alpha {
    overflow: auto;
    width: 65%;
    margin-left: 20%;
    min-height: 500px;
    background-color: #f7f7f7;  /*change to #f7f7f7 dedede*/
}

#vendors-title {
    margin-top: 5%;
}



#list-of-all-option-icons {
    padding-top: 3%;
    overflow: auto;
    text-align: center;
}
#list-of-all-option-icons-content-container {
    overflow: auto;
    display: inline-block;
    min-width: 75%;
    margin: 0 auto;
}
.single-icon-container {
    width: 15%;
    padding: 8px;
    transition: 0.3s;
    cursor: pointer;
    float: left;
    margin-left: 3%;
    border-radius: 5px;
    margin-bottom: 2%;
    position: relative;
}
.single-icon-container:hover {
    background-color: #45a470 !important;
}
.single-image-icon-container {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.single-image-icon {
    height: 100%;
    width: 100%;
}
.title-name-single-icon {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
}
.store-open-close-text {
    font-size: 16px;
    font-weight: bolder;
}









/* Make App responsive */
@media screen and (max-width:1642px) {
    #list-of-all-option-icons-content-container {
        min-width: 80%;
    }
}

@media screen and (max-width:1550px) {
    #list-of-all-option-icons-content-container {
        min-width: 80%;
    }

    .single-icon-container {
        width: 14%;
    }

    .single-image-icon-container {
        width: 77px;
        height: 77px;
    }   
    .title-name-single-icon {
        font-size: 16px;
    }
}

@media screen and (max-width:1440px) {
    #car-icon-vendor {
        right: 5%;
        top: 4%;
    }
    #car-icon-vendor:hover {
        font-size: 205%;
        right: 4.95%;
    }

    #list-of-all-option-icons-content-container {
        min-width: 84%;
    }

    .single-image-icon-container {
        width: 75px;
        height: 75px;
    }
}


@media screen and (max-width:1365px) {
    .vendor-company-icon {
        height: 150px !important;
        width: 160px !important;
        margin: 15px;
    }

    #middle-section-of-page-alpha {
        width: 70%;
        margin-left: 18%;
    }

    #list-of-all-option-icons-content-container {
        min-width: 88%;
    }
    .single-icon-container {
        padding: 7px;
    }
    .single-image-icon-container {
        width: 65px;
        height: 65px;
    }
}


@media screen and (max-width:1205px) {
    .vendor-company-icon {
        height: 140px !important;
        width: 150px !important;
    }

    #list-of-all-option-icons-content-container {
        min-width: 90%;
    }
}

@media screen and (max-width:1162px) {
    .vendor-company-icon {
        height: 130px !important;
        width: 140px !important;
    }

    #list-of-all-option-icons-content-container {
        min-width: 92%;
    }
}

@media screen and (max-width:1148px) {
    #car-icon-vendor {
        right: 6%;
        top: 4%;
        font-size: 180%;
    }
    #car-icon-vendor:hover {
        font-size: 185%;
        right: 5.9%;
    }

    #list-of-all-option-icons-content-container {
        min-width: 88%;
    }
    .single-icon-container {
        padding: 5px;
    }
    .single-image-icon-container {
        width: 55px;
        height: 55px;
    }
    .title-name-single-icon {
        font-weight: bold;
        text-align: center;
        font-size: 15px;
        margin-top: 5px;
    }
}

@media screen and (max-width:1100px) {
    .vendor-company-icon {
        height: 120px !important;
        width: 135px !important;
    }

    #list-of-all-option-icons-content-container {
        min-width: 90%;
    }

    .single-image-icon-container {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width:1030px) {
    #middle-section-of-page-alpha {
        overflow: auto;
        width: 100%;
        min-height: 500px;
        margin: 0;
    }

    #list-of-all-option-icons-content-container {
        min-width: 72%;
    }
}

@media screen and (max-width:1000px) {
    #modal-container-vendor {
        width: 70%;
        margin: 3% auto;
    }

    #list-of-all-option-icons-content-container {
        min-width: 75%;
    }
}

@media screen and (max-width:950px) {
    #vendors-title {
        font-size: 45px;
        margin-top: 10%;
    }

    #list-of-all-option-icons-content-container {
        min-width: 79%;
    }
}

@media screen and (max-width:900px) {
    #car-icon-vendor {
        right: 6.5%;
        top: 4.2%;
        font-size: 166%;
    }
    #car-icon-vendor:hover {
        font-size: 170%;
        right: 6.6%;
    }

    #list-of-all-option-icons-content-container {
        min-width: 84%;
    }
}

@media screen and (max-width:800px) {
    .vendor-company-icon {
        height: 100px !important;
        width: 110px !important;
    }

    #list-of-all-option-icons-content-container {
        min-width: 88%;
    }
}

@media screen and (max-width:750px) {
    #modal-container-vendor {
        width: 80%;
        margin: 3% auto;
    }
    #send-me-driver-btn {
        margin-top: 3%;
    }

    #car-icon-vendor {
        right: 7.5%;
        top: 4.2%;
        font-size: 150%;
    }
    #car-icon-vendor:hover {
        font-size: 155%;
        right: 7.6%;
    }


    #list-of-all-option-icons-content-container {
        min-width: 98%;
        margin-top: 3%;
    }
    .single-icon-container {
        width: 14%;
        padding: 4px;
        margin-left: 4%;
    }
    .title-name-single-icon {
        font-weight: bold;
        text-align: center;
        font-size: 13px;
        margin-top: 5px;
    }
}

@media screen and (max-width:730px) {
    .vendor-company-icon {
        height: 90px !important;
        width: 100px !important;
        margin: 10px;
    }

    #vendors-title {
        font-size: 45px;
        margin-top: 15%;
    }
}

@media screen and (max-width:650px) {
    #car-icon-vendor {
        right: 8.5%;
        top: 4.2%;
        font-size: 150%;
    }
    #car-icon-vendor:hover {
        font-size: 155%;
        right: 8.4%;
    }

    #vendors-title {
        font-size: 42px;
        margin-top: 20%;
    }
}

@media screen and (max-width:600px) {
    #modal-container-vendor {
        width: 90%;
        margin: 3% auto;
    }
    #send-me-driver-btn {
        margin-top: 4%;
    }

    #list-of-all-option-icons-content-container {
        min-width: 100%;
    }
}

@media screen and (max-width:500px) {
    #vendors-title {
        font-size: 38px;
        margin-top: 28%;
    }

    .single-icon-container {
        width: 13.5%;
        padding: 5px;
        margin-left: 3.5%;
    }
}

@media screen and (max-width: 480px) {
    #modal-container-vendor {
        width: 94%;
        margin: 3% auto;
        height: 80vh;
    }
    .container-for-payment-method-row {
        width: 100%;
        overflow: auto;
    }
    .request-driver-title {
        font-size: 24px !important;
    }
    .input-entry-vendor-modal-container {
        font-size: 14px;
    }
    .error-message-vendor-modal {
        font-size: 13px;
    }
    .icon-payment-whole-div {
        float: left;
        width: 35%;
        margin-right: 20px;
        text-align: left;
    }
    .icon-payment-div {
        width: 50%;
        text-align: center;
    }
    .icon-payment-actual-icon {
        font-size: 15px;
        padding: 10%;
        margin-top: 5px;
    }
    .payment-options-text {
        text-align: left !important;
        font-size: 14px;
    }
    #send-me-driver-btn {
        margin-top: 5%;
        font-size: 13px;
        padding: 8px 20px;
        margin-bottom: 5%;
    }

    
    .vendor-company-icon {
        height: 70px !important;
        width: 80px !important;
        margin: 4px;
    }

    #vendors-title {
        font-size: 38px;
        margin-top: 32%;
    }

    #car-icon-vendor {
        right: 11%;
        top: 4.2%;
        font-size: 150%;
    }
    #car-icon-vendor:hover {
        font-size: 155%;
        right: 10.6%;
    }

    #list-of-all-option-icons-content-container {
        min-width: 100%;
    }
    #list-of-all-option-icons {
        position: fixed;
        padding: 0;
        bottom: 0;
        margin: 0;
        left: 0;
        right: 0;
        z-index: 5;
        background-color: #F7F7F7;
        width: 100%;
        border-top: 2px solid black;
    }
    .title-name-single-icon {
        font-weight: bold;
        text-align: center;
        font-size: 11px;
        margin-top: 5px;
    }

    #vendors-footer {
        display: none;
    }
}