#alpha-container-vendor-schedule {
    height: auto;
    background-color: #fcfcfc;
    overflow: auto;
    min-height: 500px;
    padding: 2%;
}




#default-schedule-container {
    background-color: #f3f3f3;
    padding: 1.2% 2%;
    margin-top: 2%;
    border-radius: 4px;
}
.center-sub-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1.5%;
}
.days-default-schedule-title {
    min-width: 32%;
    max-width: 32%;
    display: inline-block;
    font-size: 18px;
    margin:0 1%;
    padding-left: 0.5%;
}
.start-time-default-schedule-title {
    min-width: 30%;
    max-width: 30%;
    display: inline-block;
    font-size: 18px;
    margin:0 1%;
}
.end-time-default-schedule-title {
    min-width: 30%;
    max-width: 30%;
    display: inline-block;
    font-size: 18px;
    margin:0 1%;
}
.date-schedule-entry {
    width: 100%;
    height: 20px;
    border: none;
    border-radius: 3px;
    border: 2px solid #dcdcdc;
    font-family: 'Abel', sans-serif !important;
    font-size: 14px;
}
#update-schedule-button {
    background-color: #4acf6e;
    margin-top: 4%;
    margin-left: 2%;
}





#specific-schedule-container {
    background-color: #f3f3f3;
    padding: 1.2% 2%;
    margin-top: 3%;
    border-radius: 4px;
}
#special-notes {
    height: 100px;
    resize: none;
}
#update-special-button {
    background-color: #4acf6e;
}



.react-calendar {
    width: 100%;
    margin-top: 2%;
    padding: 1%;
    border-radius: 3px;
}




/* make app responsive */
@media screen and (max-width: 480px) {
    #special-date-time-entries {
        width: 98%;
    }
    #special-notes {
        width: 100% !important;
    }
    #specific-schedule-container {
        margin-bottom: 125px;
    }
}