#ongoing-order-alpha-container {
    height: auto;
    background-color: #fcfcfc;
    overflow: auto;
    padding: 2% 0;
    min-height: 500px;
}



#client-name-in-filter {
    margin-top: 1%;
    display: block;
}


#all-ongoing-orders {
    padding: 0.5% 1%;
    min-height: 600px;
    max-height: 600px;
    overflow-y: scroll;
}
.vendor-single-ongoing-order-item {
    background-color: #f3f3f3;
    margin: 1.2% 0;
    border-radius: 3px;
    padding: 1%;
    overflow: auto;
    padding: 1.5%;
    cursor: pointer;
}
.vendor-client-name-single-order {
    font-size: 17px;
    margin-top: 10px;
}
.vendor-ongoing-order-info-single-order{
    font-size: 17px;
}
.cart-items-list-single {
    padding: 6px 0;
    border-radius: 3px;
    background-color: #fcfcfc;
    margin-top: 5px;
}
.ongoing-order-header-item-name  {
    min-width: 45%;
    max-width: 45%;
    margin: 0 1%;
    padding-left: 1%;
    float: left;
}
.ongoing-order-header-item-amount {
    min-width: 45%;
    max-width: 45%;
    display: inline-block;
    margin: 0 1%;
    padding-left: 1%;
}
#order-is-ready-btn, #given-driver-order-btn {
    margin-top: 2%;
    background-color: #4abb7d;
}



/* Make App responsive */
@media screen and (max-width: 800px) {
    .vendor-single-ongoing-order-item {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px) {
    #all-ongoing-orders {
        margin-bottom: 125px;
    }
}