#alpha-container-admin-ongoing-order {
    margin-left: 3%;
    width: 96%;
    min-height: 800px;
    padding: 0 0.5%;
}

.admin-ongoing-background {
    z-index: 5;
}

#admin-ongoing-order-filters-container {
    background-color: #e8e8e8;
    padding: 0.5%;
    border-radius: 5px;
}
#order-number-in-filter, #admin-store-name-in-filter, #driver-name-in-filter, #driver-id-in-filter {
    height: 18px !important;
    width: 24%;
    margin-right: 0.2%;
    border-radius: 4px;
}
.admin-single-radio-button-filter-container {
    width: 31.5%;
    margin-right: 0.4%;
    display: inline-block;
    margin: 0.2% 0.7% 0.4% 0;
    background-color: #f5f5f5;
    padding: 0.5%;
    border-radius: 3px;
}

#admin-ongoing-orders-container {
    background-color: #ededed;
    padding: 0.5% 1%;
    border-radius: 5px;
    max-height: 600px;
    min-height: 600px;
    margin-top: 1%;
    overflow-y: scroll;
}

.admin-single-ongoing-order-container {
    background-color: #f9f9f9;
    margin: 0.2% 0;
    border-radius: 5px;
    padding: 0.9%;
    overflow: auto;
    width: 30.6%;
    display: inline-block;
    margin-right: 0.8%;
    font-size: 15px;
    transition: 0.3s;
    border: 1px solid #dedede;
    z-index: 1;
    cursor: pointer;
}
.admin-single-ongoing-order-container:hover {
    background-color: #e9e7e7;
}
.refresh-sign {
    float: right;
    font-size: 20px;
    transition: 0.2s;
    cursor: pointer;
    color: #F7C544;
    z-index: 2;
}
.refresh-sign:hover {
    color: #4db57c;
}
.order-status {
    height: 40px;
}
.ongoing-order-single-buttons {
    float: right;
    margin-right: 1%;
    padding: 7px 15px !important;
    margin-top: 10px;
    background-color: #fadd66;
    transition: 0.5s;
    z-index: 2 !important;
}
.ongoing-order-single-buttons:hover {
    background-color: #4db57c;
    opacity: 1;
}
.refreshed-response-msg-container {
    float: left;
    margin-top: 20px;
}


#more-info-on-order {
    width: 0%;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    bottom: 0;
    background-color: #ebebeb;
    z-index: 6;
    overflow-y: scroll;
}
#close-aside-order-more-info {
    font-size: 26px;
    padding: 8px;
    transition: 0.4s;
    cursor: pointer;
    color: #e9ce61;
    position: absolute;
    left: 0;
    top: 0;
}
#close-aside-order-more-info:hover {
    color: #4db57c;
}
.order-num-top {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
#refresh-aside-order-more-info {
    font-size: 26px;
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;
    color: #e9ce61;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
#refresh-aside-order-more-info:hover {
    color: #4db57c;
}
#refreshed-result-aside-order-more-info {
    text-align: center;
    font-size: 14px;
}
.sectional-order-more-info-container {
    background-color: #ffffff;
    margin: 1.5%;
    padding: 2%;
    border-radius: 5px;
    position: relative;
}
.sectional-order-more-info-container-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
.sectional-order-more-info-container-icon {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    color: #e9ce61;
    cursor: pointer;
}
.sectional-order-more-info-container-icon:hover {
    color: #4db57c;
}
.sub-sectional-info-title {
    width: 40%;
    display: inline-block;
}
.sub-sectional-info-data {
    display: inline-block;
    margin-left: 20px;  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
}
#destination-address-input-container{
    width: 50%;
    border-radius: 4px;
    display: inline-block;
    margin-left: 20px;  
}
#total-price-input {
    border-radius: 2px;
    border: none;
    border: 1px solid #b1b1b1;
    width: 20%;
    height: 18px;
    font-size: 16px;
    font-family: 'Abel', sans-serif !important;
}
.good-order-status {
    font-size: 22px;
    color: #30bf70;
}
.straight-line-aside-more-info {
    border-top: 1px solid black;
}
.bad-order-status {
    font-size: 22px;
    color: #b0b0b0;
}
#update-order-info-button-aside {
    background-color: #fadd66;
}
#update-order-info-button-aside:hover {
    color: #4db57c;
}