/* #regular-navigation {
    display: none;
} */

#alpha-admin-container {
    background-color: #f4f4f4;
    padding-top: 0.5%;
    min-height: 100vh;
}

#admin-company-logo {
    width: 95px;
    height: 85px;
    margin: 0% auto;
}
.admin-title {
    font-size: 23px;
    font-weight: bold;
}

#full-admin-aside-navigation {
    background-color: #4cb67e;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
    width: 0;
    z-index: 4;
}
#admin-aside {
    background-color: #F7C544;
    width: 55px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.admin-open-close-icon {
    font-size: 26px;
    margin: 10px 10px 10px 12px;
    color: #f4f4f4;
    cursor: pointer;
    transition: 0.3s;
}
.admin-open-close-icon:hover {
    color: #41b074;
}

#aside-icons-navigation-container {
    margin-top: 150px;
}
.single-aside-icon-container {
    padding: 14px 0;
    border-top: 1px solid #f4f4f4;
    transition: 0.6s;
    cursor: pointer;
}
.single-aside-icon-container:hover {
    background-color: #f4f4f4 !important;
}
.last-single-aside-icon-container {
    border-bottom: 1px solid #f4f4f4;
}
.aside-single-icon-container {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.aside-text {
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}

#aside-navigation {
    margin-top: 5px;
}
#aside-navigation a {
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    transition: 0.3s;
    margin-left: 65px;
}
#aside-navigation a:hover {
    color: #ffffff;
}