#alpha-container-admin-users {
    margin-left: 3%;
    width: 96%;
    min-height: 800px;
    padding: 0 0.5%;
}

.admin-user-modal-background {
    z-index: 5;
}

#admin-all-users-filters-container {
    background-color: #e8e8e8;
    padding: 0.5%;
    border-radius: 5px;
}
#user-email-in-filter {
    height: 18px !important;
    width: 24%;
    margin-right: 0.2%;
    border-radius: 4px;
}
.admin-all-users-single-radio-button-filter-container {
    width: 31.5%;
    float: left;
    margin: 0.5% 0.7% 0.5% 0;
    background-color: #f5f5f5;
    padding: 0.5%;
    border-radius: 3px;
    height: 90px;
}


#admin-all-users-container {
    background-color: #f2f2f2;
    padding: 0.5% 1%;
    border-radius: 5px;
    max-height: 600px;
    min-height: 600px;
    margin-top: 1%;
    overflow-y: scroll;
}
.single-user-container {
    background-color: #f9f9f9;
    margin: 0.2% 0;
    border-radius: 5px;
    padding: 0.9%;
    overflow: auto;
    width: 22.25%;
    display: inline-block;
    margin-right: 0.8%;
    font-size: 15px;
    transition: 0.3s;
    border: 1px solid #dedede;
    z-index: 1;
    height: 155px;
    overflow: hidden;
}
#activate-account, #deactivate-account {
    background-color: #fadd66;
    width: 100%;
    padding: 6px 25px;
}
#activate-account:hover {
    background-color: #4db57c;
    opacity: 0.8;
}
#deactivate-account:hover {
    background-color: #f54141;
    opacity: 0.8;
}