#alpha-container-admin-all-orders {
    margin-left: 3%;
    width: 96%;
    min-height: 800px;
    padding: 0 0.5%;
}

#admin-all-order-filters-container {
    background-color: #e8e8e8;
    padding: 0.5%;
    border-radius: 5px;
}
#admin-store-id-in-filter, #user-name-in-filter, #user-phone-no-in-filter, #user-id-in-filter {
    height: 18px !important;
    width: 24%;
    margin-right: 0.2%;
    border-radius: 4px;
}
.admin-all-order-single-radio-button-filter-container {
    width: 31.5%;
    float: left;
    margin: 0.5% 0.7% 0.5% 0;
    background-color: #f5f5f5;
    padding: 0.5%;
    border-radius: 3px;
    height: 80px;
}
.date-title-all-orders-filter {
    width: 16%;
    float: left;
}
.date-entries-filter-all-order {
    border: none;
    border-radius: 3px;
    height: 23px;
    font-size: 16px;
    font-family: 'Abel', sans-serif !important;

    width: 57%;
    border: 1px solid #a7a7a7;
}
.filter-button-container {
    clear: both;
    text-align: center;
}


#admin-all-orders-container {
    background-color: #ededed;
    padding: 0.5% 1%;
    border-radius: 5px;
    max-height: 600px;
    min-height: 600px;
    margin-top: 1%;
    overflow-y: scroll;
}
.single-all-order-container {
    background-color: #f9f9f9;
    margin: 0.2% 0;
    border-radius: 5px;
    padding: 0.9%;
    overflow: auto;
    width: 47.2%;
    display: inline-block;
    margin-right: 0.8%;
    font-size: 15px;
    transition: 0.3s;
    border: 1px solid #dedede;
    z-index: 1;
    height: 360px;
    overflow: hidden;
}
.left-all-order-container {
    float: left;
    width: 47%;
    margin-right: 1%;
    padding: 1%;
    background-color: #eeeeee;
    height: 350px;
}
.items-ordered {
    background-color: #e3e3e3;
    padding: 2%;
    overflow-y: scroll;
    height: 60px;
    font-size: 13px;
}
.order-info-item-name {
    float: left;
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.order-info-item-price-and-amount {
    float: left;
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.order-info-special-instructions {
    float: left;
    width: 60%;
}
.side-line {
    border-right:  1px solid black;
    height: 365px;
    float: left;
}
.right-all-order-container {
    display: inline-block;
    width: 46%;
    padding: 1%;
    margin-left: 1%;
    background-color: #eeeeee;
}