#alpha-container-admin-business {
    margin-left: 3%;
    width: 96%;
    min-height: 500px;
    padding: 0 0.5%;
}

#filter-and-data-container {
    background-color: #e8e8e8;
    padding: 0.5%;
}

#admin-business-filters-container {
    border-radius: 5px;
}
.admin-business-single-search-sectional {
    width: 31.5%;
    margin: 0.5% 0.7% 0.5% 0;
    background-color: #f5f5f5;
    padding: 0.5%;
    border-radius: 3px;
    height: 90px;
}

#admin-all-business-and-logistics-container {
    background-color: #f2f2f2;
    padding: 0.5% 1%;
    border-radius: 5px;
    max-height: 600px;
    min-height: 600px;
    margin-top: 1%;
}
.single-result-data {
    color: #6bdf59;
}
.business-logistics-title {
    display: inline-block;
    width: 200px;
    color: #78c96b;
    font-size: 18px;
}
.business-logistics-data {
    display: inline-block;
    margin-left: 1%;
    font-size: 18px;
    color: #78c96b;
}